.video-link {
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
  & img {
    mask: url("../images/video-mask-16-9.svg");
    mask-size: contain;
    width: 240px;
  }
  &.ratio-43 img {
    mask: url("../images/video-mask-4-3.svg");
  }
  & span {
    display: block;
    text-align: center;
    text-decoration: underline;
  }
}

.video-link-small img {
  width: 120px;
}

.video-link-inline {
  display: inline-flex;
  align-items: center;
  & img {
    width: auto;
    height: 2em;
    margin-inline-end: 1em;
  }
  span {
    text-align: start;
  }
}