#site-header {
  background-color: var(--w3c-blue);
  color: #fff;
  & a {
    color: #fff;
  }
}

.wai {
  font-size: 1.5625rem;
  line-height: 1.2;
  display: block;
}
.logos {
  padding: 16px 0;
}
