#site-header {
  background-color: var(--w3c-blue);
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  & a {
    color: #fff;
  }
}

.wai {
  line-height: 1.2;
  @media (--medium) {
    vertical-align: middle;
    display: block;
    font-size: 1.5625rem;
  }
}

.logos {
  padding: 16px 0;
  grid-area: navigation;
  grid-row-start: 1;
  & img {
    vertical-align:middle;
    padding-right: 8px
  }
}
