#site-header {
  background-color: var(--w3c-blue);
  color: #fff;
  @supports (display: grid) {
    padding-left: 8px;
    padding-right: 8px;
  }
  & a {
    color: #fff;
  }
}

.wai {
  line-height: 1.2;
  @media (--medium) {
    vertical-align: middle;
    display: block;
    font-size: 1.5625rem;
  }
}

.logos {
  padding: 16px 0;
  grid-area: navigation;
  grid-row-start: 1;
  margin-right: 32px;
  text-decoration: none;
  transition: color .5s ease-in .1s;
  @supports (display: grid) {
    margin-right: 0;
  }
  & img {
    vertical-align:middle;
    padding-right: 8px;
    margin-bottom: 8px;
    color: inherit;
    fill: inherit;
  }
  &:--hovcus {
    text-decoration: underline;
    color: var(--gold) !important;
  }
}
