@custom-selector :--hovcus :hover, :focus;

.visuallyhidden, .no-display {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    &.focusable {
      &:active, &:focus {
        clip: auto;
        clip-path: none;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
        white-space: inherit;
      }
    }
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-regular.woff2') format('woff2'),
       url('../fonts/notosans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-italic.woff2') format('woff2'),
       url('../fonts/notosans-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bold.woff2') format('woff2'),
       url('../fonts/notosans-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bolditalic.woff2') format('woff2'),
       url('../fonts/notosans-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/anonymouspro-regular.woff2') format('woff2'),
       url('../fonts/anonymouspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/anonymouspro-italic.woff2') format('woff2'),
       url('../fonts/anonymouspro-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/anonymouspro-bold.woff2') format('woff2'),
       url('../fonts/anonymouspro-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/anonymouspro-bolditalic.woff2') format('woff2'),
       url('../fonts/anonymouspro-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

html {
  background-color: var(--off-white);
}

body {
  font-family: "Noto Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--body-bg);
  color:  var(--off-black);
  padding: 0;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  margin: 0 auto;
  max-width: 1250px;
  @supports (display: grid) {
    max-width: none;
    margin: 0;
  }
}

code {
  font-size: 1em;
  font-family: 'Anonymous Pro', monospace;
}

a {
  color: var(--w3c-blue);
  &:--hovcus {
    color: var(--wai-green);
  }
  &:visited {
    color: var(--visited-link);
  }
  &.stealthy-link {
    text-decoration: none;
    &:--hovcus {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

.default-container, .default-grid {
  padding: 0 32px;
  @media (--medium) {
    padding:0;
  }
}

@custom-media --small  (width >= 23em);
@custom-media --medium (width >= 35em);
@custom-media --large  (width >= 60em);

:root {
  --def-grid-noflex: {
    @supports (display: grid) {
      display: grid;
      grid-column-gap: 32px;
      padding: 0;
      max-width: none;
    }
  }
  --def-grid: {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    @apply --def-grid-noflex;
  }

  --full-grid: {
    @apply --def-grid;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [navigation-start] repeat(2, minmax(0, 130px)) [navigation-end content-start] repeat(6, minmax(0, 130px)) [content-end] minmax(16px, 1fr) [complete-end];
  }

  --full-grid-three-five: {
    @apply --def-grid;
    grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end];
    @media (--medium) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [three-start] repeat(3, minmax(0, 130px)) [three-end five-start] repeat(5, minmax(0, 130px)) [five-end] minmax(16px, 1fr) [complete-end];
    }
  }

  --full-grid-five-three: {
    @apply --def-grid;
    grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end];
    @media (--medium) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [five-start] repeat(5, minmax(0, 130px)) [five-end three-start] repeat(3, minmax(0, 130px)) [three-end] minmax(16px, 1fr) [complete-end];
    }
  }

  --full-grid-4q: {
    @apply --def-grid;
    grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end];
    @media (--large) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 130px)) [q1-end q2-start] repeat(2, minmax(0, 130px)) [q2-end q3-start] repeat(2, minmax(0, 130px)) [q3-end q4-start] repeat(2, minmax(0, 130px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
    }
  }

  --full-grid-4q-nogap: {
    grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end];
    @media (--large) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 158px)) [q1-end q2-start] repeat(2, minmax(0, 158px)) [q2-end q3-start] repeat(2, minmax(0, 158px)) [q3-end q4-start] repeat(2, minmax(0, 158px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
    }
    grid-column-gap: 0;
  }

  --grid-six: {
    @apply --def-grid-noflex;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  --grid-four: {
    @apply --def-grid-noflex;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  --clear: {
    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
        clear: both;
    }
  }
}

.default-grid {
  @media (--large) {
    @apply --full-grid;
    & .inner {
      grid-column-start: navigation-start;
      grid-column-end: content-end;
    }
  }
}

.grid-4 {
  @media (--large) {
    @apply --grid-four;
    &.nogap { grid-column-gap: 0; }
  }
  & .col1, & .from-col1 { grid-column-start: 1; }
  & .col1, & .to-col1   { grid-column-end:   2; }

  & .col2, & .from-col2 { grid-column-start: 2; }
  & .col2, & .to-col2   { grid-column-end:   3; }

  & .col3, & .from-col3 { grid-column-start: 3; }
  & .col3, & .to-col3   { grid-column-end:   4; }

  & .col4, & .from-col4 { grid-column-start: 4; }
  & .col4, & .to-col4   { grid-column-end:   5; }
}

.grid-6 {
  @media (--large) {
    @apply --grid-six;
  }

  & .col1, & .from-col1 { grid-column-start: 1; }
  & .col1, & .to-col1   { grid-column-end:   2; }

  & .col2, & .from-col2 { grid-column-start: 2; }
  & .col2, & .to-col2   { grid-column-end:   3; }

  & .col3, & .from-col3 { grid-column-start: 3; }
  & .col3, & .to-col3   { grid-column-end:   4; }

  & .col4, & .from-col4 { grid-column-start: 4; }
  & .col4, & .to-col4   { grid-column-end:   5; }

  & .col5, & .from-col5 { grid-column-start: 5; }
  & .col5, & .to-col5   { grid-column-end:   6; }

  & .col6, & .from-col6 { grid-column-start: 6; }
  & .col6, & .to-col6   { grid-column-end:   7; }
}

.grid-three-five {
  @apply --full-grid-three-five;
  & .col1, & .col2 { flex-shrink: 1; }
  & .col1 {
    flex-basis: 35%;
    grid-column-start: three-start;
    grid-column-end: three-end;
    margin-right: 32px;
    @supports (display: grid) {
      margin-right: 0;
    }
  }
  & .col2 {
    flex-basis: 61%;
    grid-column-start: five-start;
    grid-column-end: five-end;
  }
  & .col12 {
    flex-basis: 100%;
    grid-column-start: three-start;
    grid-column-end: five-end;
  }
}

.grid-five-three {
  @apply --full-grid-five-three;
  & .col1, & .col2 { flex-shrink: 1; }
  & .col1 {
    flex: 1 1 62%;
    grid-column-start: five-start;
    grid-column-end: five-end;
    margin-right: 32px;
    @supports (display: grid) {
      margin-right: 0;
    }
  }
  & .col2 {
    flex: 1 1 37%;
    grid-column-start: three-start;
    grid-column-end: three-end;
  }
  & .col12 {
    flex-basis: 100%;
    grid-column-start: five-start;
    grid-column-end: three-end;
  }
}

.grid-4q {
  @apply --full-grid-4q;
  &.nogap {
    @apply --full-grid-4q-nogap;
  }

  & .q1-start {
    flex-basis:25%;
    flex-shrink: 1;
    margin-right: 32px;
    grid-column-start: q1-start;
  }
  & .q2-start {
    flex-basis:25%;
    flex-shrink: 1;
    margin-right: 32px;
    grid-column-start: q2-start;
  }
  & .q3-start {
    flex-basis:25%;
    flex-shrink: 1;
    margin-right: 32px;
    grid-column-start: q3-start;
  }
  & .q4-start {
    flex-basis:25%;
    flex-shrink: 1;
    margin-right: 32px;
    grid-column-start: q4-start;
  }
  & .q1-end {
    grid-column-end: q1-end;
  }
  & .q2-end {
    grid-column-end: q2-end;
  }
  & .q3-end {
    grid-column-end: q3-end;
  }
  & .q4-end {
    grid-column-end: q4-end;
    margin-right: 0;
  }
  & .q1-start.q2-end,
  & .q2-start.q3-end,
  & .q3-start.q4-end {
    flex-basis: 50%;
  }
  & .q1-start.q3-end,
  & .q2-start.q4-end {
    flex-basis: 75%;
  }

  &.nogap {
    & .q1-start,
    & .q2-start,
    & .q3-start,
    & .q4-start {
      margin-right: 0;
    }
  }

  @supports(display: grid) {
    & .q1-start,
    & .q2-start,
    & .q3-start,
    & .q4-start {
      margin-right: 0;
    }
  }
}

.leftcol {
  & article {
    grid-area: content;
  }
}

.grid-line-right {
  @media (--medium) {
    border-right: 1px solid var(--line-grey);
    margin-right: -17px;
    padding-right: 17px;
  }
}

.grid-line-left {
  @media (--medium) {
    border-left: 1px solid var(--line-grey);
    margin-left: -16px;
    padding-left: 16px;
  }
}

.media-wrapper, .able-media-container {
  position: relative;
  padding-top: 56.25%;
  & iframe, & video, & .img {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#main {
  position: relative;
}

#toc {
  @media (--medium) {
    float:right;
    margin-left: 32px;
    width: 40%;
  }
  @media (--large) {
    width: 30%;
  }
  &.box-full {
    width: auto;
    float: none;
    margin-left: 0;
  }
}

img.symbol {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

figure { margin: 0; }
figcaption { font-weight: bold; border-bottom: 1px solid var(--line-grey);}