@custom-selector :--hovcus :hover, :focus;

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-regular.woff2') format('woff2'),
       url('../fonts/notosans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-italic.woff2') format('woff2'),
       url('../fonts/notosans-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bold.woff2') format('woff2'),
       url('../fonts/notosans-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bolditalic.woff2') format('woff2'),
       url('../fonts/notosans-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Noto Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--body-bg);
  color:  var(--off-black);
  padding: 0;
  margin: 0;
}

code {
  font-size: 1em;
  font-family: 'Tchig Mono', monospace;
}

a {
  color: var(--w3c-blue);
  &:--hovcus {
    color: var(--wai-green);
  }
  &:visited {
    color: var(--visited-link);
  }
  &.stealthy-link {
    text-decoration: none;
    &:--hovcus {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

.default-container, .default-grid {
  padding: 0 32px;
  @media (--medium) {
    padding:0;
  }
}

@custom-media --small  (width >= 23em);
@custom-media --medium (width >= 35em);
@custom-media --large  (width >= 60em);

:root {
  --full-grid: {
    display: grid;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [navigation-start] repeat(2, minmax(0, 130px)) [navigation-end content-start] repeat(6, minmax(0, 130px)) [content-end] minmax(16px, 1fr) [complete-end];
    grid-column-gap: 32px;
  }
  --full-grid-three-five: {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end];
    @media (--medium) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [three-start] repeat(3, minmax(0, 130px)) [three-end five-start] repeat(5, minmax(0, 130px)) [five-end] minmax(16px, 1fr) [complete-end];
    }
  }
  --full-grid-five-three: {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end];
    @media (--medium) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [five-start] repeat(5, minmax(0, 130px)) [five-end three-start] repeat(3, minmax(0, 130px)) [three-end] minmax(16px, 1fr) [complete-end];
    }
  }
  --full-grid-4q: {
    display: grid;
    grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end];
    @media (--large) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 130px)) [q1-end q2-start] repeat(2, minmax(0, 130px)) [q2-end q3-start] repeat(2, minmax(0, 130px)) [q3-end q4-start] repeat(2, minmax(0, 130px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
    }
    grid-column-gap: 32px;
  }
  --full-grid-4q-nogap: {
    display: grid;
    grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end];
    @media (--large) {
      grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 158px)) [q1-end q2-start] repeat(2, minmax(0, 158px)) [q2-end q3-start] repeat(2, minmax(0, 158px)) [q3-end q4-start] repeat(2, minmax(0, 158px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
    }
    grid-column-gap: 0;
  }
  --grid-six: {
    display:grid;
    grid-template-columns: repeat(6, minmax(0, 130px));
    grid-column-gap: 32px;
  }
  --grid-four: {
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 130px));
    grid-column-gap: 32px;
  }
}

.default-grid {
  @media (--large) {
    @apply --full-grid;
    & .inner {
      grid-column-start: navigation-start;
      grid-column-end: content-end;
    }
  }
}

.grid-4 {
  @media (--large) {
    grid-template-columns: repeat(4, minmax(0, 120px));
    grid-column-gap: 32px;
  }
}
.grid-6 {
  @media (--large) {
    grid-template-columns: repeat(6, minmax(0, 120px));
    grid-column-gap: 32px;
  }
}

.grid-three-five {
  @apply --full-grid-three-five;
}

.grid-five-three {
  @apply --full-grid-five-three;
  & .col1 {
    grid-column-start: five-start;
    grid-column-end: five-end;
  }
  & .col2 {
    grid-column-start: three-start;
    grid-column-end: three-end;
  }
  & .col12 {
    grid-column-start: five-start;
    grid-column-end: three-end;
  }
}

.grid-4q {
  @apply --full-grid-4q;
  &.nogap {
    @apply --full-grid-4q-nogap;
  }
  & .q1-start {
    grid-column-start: q1-start;
  }
  & .q2-start {
    grid-column-start: q2-start;
  }
  & .q3-start {
    grid-column-start: q3-start;
  }
  & .q4-start {
    grid-column-start: q4-start;
  }
  & .q1-end {
    grid-column-end: q1-end;
  }
  & .q2-end {
    grid-column-end: q2-end;
  }
  & .q3-end {
    grid-column-end: q3-end;
  }
  & .q4-end {
    grid-column-end: q4-end;
  }
}

.leftcol {
  & article {
    grid-area: content;
  }
}

.grid-line-right {
  @media (--medium) {
    border-right: 1px solid var(--line-grey);
    margin-right: -17px;
    padding-right: 17px;
  }
}

.grid-line-left {
  @media (--medium) {
    border-left: 1px solid var(--line-grey);
    margin-left: -16px;
    padding-left: 16px;
  }
}

.media-wrapper {
  position: relative;
  padding-top: 56.25%;
  & iframe, & video, & .img {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
