@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-regular.woff2') format('woff2'),
       url('../fonts/notosans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-italic.woff2') format('woff2'),
       url('../fonts/notosans-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bold.woff2') format('woff2'),
       url('../fonts/notosans-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bolditalic.woff2') format('woff2'),
       url('../fonts/notosans-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Noto Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--body-bg);
  color:  var(--off-black);
  padding: 0;
  margin: 0;
}

code {
  font-size: 1em;
  font-family: 'Tchig Mono', monospace;
}

a {
  color: var(--w3c-blue);
  &:hover, &:focus {
    color: var(--wai-green);
  }
  &:visited {
    color: var(--visited-link);
  }
  &.stealthy-link {
    text-decoration: none;
    &:hover, &:focus {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

.default-container, .default-grid {
  /*max-width: 70rem;*/
  /*margin: 0 auto;
  padding: 0 1em;*/
}

:root {
  --full-grid: {
    display: grid;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [navigation-start] repeat(2, minmax(0, 120px)) [navigation-end content-start] repeat(6, minmax(0, 120px)) [content-end] minmax(16px, 1fr) [complete-end];
    grid-column-gap: 32px;
  }
  --full-grid-three-five: {
    display: grid;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [three-start] repeat(3, minmax(0, 120px)) [three-end five-start] repeat(5, minmax(0, 120px)) [five-end] minmax(16px, 1fr) [complete-end];
    grid-column-gap: 32px;
  }
  --full-grid-five-three: {
    display: grid;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [five-start] repeat(5, minmax(0, 120px)) [five-end three-start] repeat(3, minmax(0, 120px)) [three-end] minmax(16px, 1fr) [complete-end];
    grid-column-gap: 32px;
  }
  --grid-six: {
    display:grid;
    grid-template-columns: repeat(6, minmax(0, 120px));
    grid-column-gap: 32px;
  }
  --grid-four: {
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 120px));
    grid-column-gap: 32px;
  };
}

.default-grid {
  @apply --full-grid;
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 120px));
  grid-column-gap: 32px;
}
.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 120px));
  grid-column-gap: 32px;
}

.grid-three-five {
  @apply --full-grid-three-five;
}

.grid-five-three {
  @apply --full-grid-five-three;
  & .col1 {
    grid-area: five;
  }
  & .col2 {
    grid-area: three;
  }
}

.leftcol {
  & article {
    grid-area: content;
  }
}
