<div class="excol-all"></div>

<details{%- if id %} id="one"{%- endif -%} {%- if open -%}open{%- endif -%}><summary markdown="block">
  <h3{%- if id %} id="onehead"{%- endif -%}>{{title}}</h3>
</summary>
<div markdown="block">
  {{content}}
</div>
</details>
<details{%- if id %} id="two"{%- endif -%} {%- if open -%}open{%- endif -%}><summary markdown="block">
  <h3{%- if id %} id="twohead"{%- endif -%}>{{title}}</h3>
</summary>
<div markdown="block">
  {{content}}
  <details{%- if id %} id="four"{%- endif -%} {%- if open -%}open{%- endif -%}><summary markdown="block">
    <h3{%- if id %} id="fourhead"{%- endif -%}>{{title}}</h3>
  </summary>
  <div markdown="block">
    {{content}} <span id="five">Test nested id!</span>
  </div>
  </details>
</div>
</details>
<details{%- if id %} id="three"{%- endif -%} {%- if open -%}open{%- endif -%}><summary markdown="block">
  <h3{%- if id %} id="threehead"{%- endif -%}>{{title}}</h3>
</summary>
<div markdown="block">
  {{content}}
</div>
</details>

<div class="excol-all"></div>