.pagination {
  margin: 0;
  margin-block: 16px;
  padding-block-start: 16px;
  border-block-start: 2px solid var(--line-grey);
  & ul {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end
  }
  & li {
    margin-inline-start: 8px;
  }
  & a, & .like-a {
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 4px;
    border: 2px solid var(--line-grey);
  }
  & .is-active .like-a {
    background-color: var(--w3c-blue);
    border-color: var(--w3c-blue);
    color: var(--pure-white);
  }
  & a:--hovcus {
    background-color: var(--line-grey);
  }
}