#controls {
  background-color: var(--off-white);
  padding: 0 8px;
  @media (--medium) {
    text-align: right;
  }
  font-size: .8125em;
  & > ul {
    padding:0;
    margin: 0;
    @media (--medium) {
     grid-column-start: navigation;
     grid-column-end: content;
    }
    & > li {
      display: inline;
      list-style: none;
      margin: 0 0 0 4px;
      padding: 0 0 0 4px;
      @media (--medium) {
        margin: 0 0 0 8px;
        padding: 0 0 0 8px;
      }
      border-left: 1px solid var(--w3c-blue);
      &:first-child {
        border-left: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
  & a {
    color: var(--w3c-blue);
    text-decoration: none;
    padding: 2px 0;
    &:--hovcus {
      border-bottom: none;
      text-decoration: underline;
    }
  }
  @media print {
    display: none;
  }
}

#controls [hidden] {
  display: none !important;
}
.languagelist>ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.languagelist>ul>li {
  border: none;
  padding: 0;
  margin:0;
  display: inline-block;
  &:first-child {
    margin-right: 4px;
  }
}
.languagelist>ul>li:first-child:before {
  display:none;
  margin: 0;
}
.languagelist>ul>li:before {
  content: "";
  display: inline-block;
  background-color: #005A9C;
  width: 4px;
  height: 4px;
  margin: -4px 4px 0 0;
  vertical-align: middle;
}

#showoptions {
  display: inline;
}