<div class="navigations">
  <nav class="metanav" label="Meta &amp; Search">
    <ul>
      <li><a href="#">Get Involved</a></li>
      <li><a href="#">About W3C WAI</a></li>
      <li>
        <form action="#" role="search">
          <div>
            <label for="header-search">
              <span class="l">Search:</span>
              <input id="header-search" type="search" results="10" autosave="waisearches" placeholder="e.g. Tutorials">
            </label>
            {%render '@button', name="icon", mods=["icon","nobg", "noborder"], type="icon", icon="search", label="Search" %}
          </div>
        </form>
      </li>
    </ul>
  </nav>
  <nav class="mainnav" label="Main">
    <ul>
      <li>
        <a href="#"><span>Accessibility <br>Fundamentals</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Introduction to Accessibility</span></a></li>
          <li><a href="#"><span>Accessibility Principles</span></a></li>
          <li><a href="#"><span>Perspectives Videos</span></a></li>
          <li><a href="#"><span>How People with Disabilities Use the Web {%- render '@icons', name="chevron-right" -%}</span></a>
            <ul class="subsubnav">
              <li><a href="#"><span>Stories of Web Users</span></a></li>
              <li><a href="#"><span>Diverse Abilities and Barriers</span></a></li>
              <li><a href="#"><span>Tools and Techniques</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span>Standards Harmonization is Essential</span></a></li>
          <li><a href="#"><span>Accessibility, Usability, Inclusion</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Plan &amp; <br>Manage</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Approaches for Interim Repairs</span></a></li>
          <li><a href="#"><span>Business Case</span></a></li>
          <li>
            <a href="#"><span>Planning and Managing Accessibility {%- render '@icons', name="chevron-right" -%}</span></a>
            <ul class="subsubnav">
              <li><a href="#"><span>Initiate</span></a></li>
              <li><a href="#"><span>Plan</span></a></li>
              <li><a href="#"><span>Implement</span></a></li>
              <li><a href="#"><span>Sustain</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span>Developing an Organizational Policy</span></a></li>
          <li><a href="#"><span>Involving Users for Better Accessibility</span></a></li>
          <li><a href="#"><span>Tips for Procuring</span></a></li>
          <li><a href="#"><span>Accessibility Laws &amp; Policies</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Design &amp; <br>Develop</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Tips for Writing</span></a></li>
          <li><a href="#"><span>Tips for Designing</span></a></li>
          <li><a href="#"><span>Tips for Developing</span></a></li>
          <li class="new-section"><a href="#"><span>Mobile Accessibility Intro</span></a></li>
          <li><a href="#"><span>WAI-ARIA Developers’ Intro</span></a></li>
          <li class="new-section">
            <a href="#"><span>Tutorials {%- render '@icons', name="chevron-right" -%}</span></a>
            <ul class="subsubnav">
              <li><a href="#"><span>Page Structure</span></a></li>
              <li><a href="#"><span>Menus</span></a></li>
              <li><a href="#"><span>Images</span></a></li>
              <li><a href="#"><span>Tables</span></a></li>
              <li><a href="#"><span>Forms</span></a></li>
              <li><a href="#"><span>Carousels</span></a></li>
              <li><a href="#"><span>Media</span></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Test &amp; <br>Evaluate</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Easy Checks – A First Review</span></a></li>
          <li><a href="#"><span>Tips for Evaluating</span></a></li>
          <li>
            <a href="#"><span>Evaluation Tools {%- render '@icons', name="chevron-right" -%}</span></a>
            <ul class="subsubnav">
              <li><a href="#"><span>Selecting Evaluation Tools</span></a></li>
              <li><a href="#"><span>List of Evaluation Tools</span></a></li>
            </ul>
          </li>
          <li>
            <a href="#"><span>Conformance Evaluation {%- render '@icons', name="chevron-right" -%}</span></a>
            <ul class="subsubnav">
              <li><a href="#"><span>WCAG-EM Conformance Methodology</span></a></li>
              <li><a href="#"><span>WCAG-EM Report Tool</span></a></li>
            </ul>
          </li>
          <li><a href="#"><span>Report Template</span></a></li>
          <li><a href="#"><span>Using Combined Expertise</span></a></li>
          <li><a href="#"><span>Involving Users</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Teach &amp; <br>Advocate</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Make Presentations Accessible</span></a></li>
          <li><a href="#"><span>Developing Accessibility Training </span></a></li>
          <li><a href="#"><span>Presentations You Can Use</span></a></li>
          <li><a href="#"><span>Handouts</span></a></li>
          <li class="new-section"><a href="#"><span>Tips for Advocating</span></a></li>
          <li><a href="#"><span>Contacting Inaccessible Websites</span></a></li>
          <li class="new-section"><a href="#"><span>Before and After Demo (BAD)</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#"><span>Standards/<br>Guidelines</span></a>
        <ul class="subnav">
          <li><a href="#"><span>Components of Accessibility</span></a></li>
          <li class="new-section"><a href="#"><span>Web Content – WCAG</span></a></li>
          <li><a href="#"><span>WAI-ARIA</span></a></li>
          <li><a href="#"><span>Authoring Tools – ATAG</span></a></li>
          <li><a href="#"><span>User Agents – UAAG</span></a></li>
          <li><a href="#"><span>Evaluation &amp; Report Language – EARL</span></a></li>
          <li class="new-section"><a href="#"><span>Mobile Accessibility in W3C</span></a></li>
          <li><a href="#"><span>Referencing and Linking to Standards</span></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
