<nav class="mainnav" aria-label="Main">
<ul class="default-grid with-gap">
    <li>
        <a href="/sitemap/#accessibility-fundamentals"><span>Accessibility Fundamentals</span></a>
    </li>
    <li>
        <a href="/sitemap/#planning-policies"><span>Planning&nbsp;&amp; Policies</span></a>
    </li>
    <li>
        <a href="/sitemap/#design-develop"><span>Design&nbsp;&amp; Develop</span></a>
    </li>
    <li>
        <a href="/sitemap/#test-evaluate"><span>Test&nbsp;&amp; Evaluate</span></a>
    </li>
    <li>
        <a href="/sitemap/#teach-advocate"><span>Teach&nbsp;&amp; Advocate</span></a>
    </li>
    <li>
        <a href="/sitemap/#standards-guidelines"><span>Standards/<wbr>Guidelines</span></a>
    </li>
</ul>
</nav>