.metanav {
  text-transform: uppercase;
  font-size: .75rem;
  text-align: right;
  width: 100%;
  display: none;
  &.open {display: block;}
  @media (--medium) {
    display: block;
  }
  & a {
    text-decoration: none;
    font-weight: bold;
    &:--hovcus, &[aria-current="page"] {
      border-bottom: 1px solid var(--pure-white);
    }
    &[aria-current="page"] {
      border-bottom-color: var(--gold);
    }
  }
  & > ul {
    width: 100%;
    @media (--medium) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    & li {
      display: inline;
      border-left: 1px solid var(--trans-line-grey);
      padding: 8px 16px;
      @media (--medium) {
        display: flex;
        align-items: center;
      }
      &:first-child {
        border: 0;
      }
      &:last-child {
        margin-right: 0;
        padding:0;
        border: 0;
      }
      & a {
        @media (--medium) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  & form[role=search] {
    background-color: rgba(6, 30, 54, 0.44);
    & > div {
      display:flex;
    }
    & label {
      text-transform: none;
      font-weight: normal;
    }
    & input {
      box-sizing: border-box;
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--off-white);
      height: 100%;
      padding: 8px;
      margin: 0;
      width: 10em;
      font-size: 0.8rem;
      transition: width .5s linear;
      &:focus {
        width: 15em;
        color: var(--pure-white);
      }
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button {
        filter: invert(100%);
      }
    }
    & button {
      display: block;
      margin: 0;
    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}