.metanav {
  text-align: right;
  width: 100%;
  display: none;
  font-size: .85em;
  &.open {display: block;}
  @media (--medium) {
    display: block;
  }
  & a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:--hovcus, &[aria-current="page"] {
      border-bottom: 1px solid var(--pure-white);
    }
    &[aria-current="page"] {
      border-bottom-color: var(--gold);
    }
  }
  & > ul {
    width: 100%;
    @media (--medium) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    & li {
      display: inline-block;
      border-left: 1px solid #235A97;
      @media (--medium) {
        display: flex;
        align-items: center;
      }
      &:first-child {
        border: 0;
      }
      &:last-child {
        margin-right: 0;
        padding:0;
        border: 0;
      }
      & a {
        padding: 8px 16px;
        @media (--medium) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  & form[role=search] {
    background-color: var(--dk-blue);
    border: 1px solid var(--pure-white);
    & > div {
      display:flex;
    }
    & label {
      text-transform: none;
      font-weight: normal;
    }
    & input {
      box-sizing: border-box;
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--off-white);
      height: 100%;
      padding: 8px;
      margin: 0;
      width: 12em;
      transition: width .5s linear;
      &:focus {
        color: var(--pure-white);
      }
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button {
        filter: invert(100%);
      }
    }
    & button {
      display: block;
      margin: 0;
    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}