.metanav {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.11);*/
  text-align: right;
  width: 100%;
  /*@media (--medium) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }*/
  & a {
    text-decoration: none;
    padding: 8px 0;
    &:--hovcus, &[aria-current="page"] {
      border-bottom: 2px solid var(--gold);
    }
  }
  & > ul {
    width: 100%;
    @media (--medium) {
      display: flex;
      justify-content: flex-end;
    }
    & li {
      display: inline;
      margin-bottom: 8px;
      @media (--medium) {
        display: flex;
        align-items: center;
        margin: 0 16px 0 0 !important;
      }
      &:last-child {
        margin-right: 0;
      }
      & a {
        @media (--medium) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  & form[role=search] {
    background-color: rgba(6, 30, 54, 0.44);
    & > div {
      display:flex;
    }
    & label {
      text-transform: none;
      font-weight: normal;
      & .l {
        display: block;
        padding: 8px 4px 8px 12px;
      }
    }
    & input {
      box-sizing: border-box;
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--off-white);
      height: 100%;
      padding: 8px;
      margin: 0;
      width: 10em;
      font-size: 0.8rem;
      transition: width .5s linear;
      &:focus {
        width: 15em;
        color: var(--pure-white);
      }
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button {
        filter: invert(100%);
      }
    }
    & button {
      display: block;
      margin: 0;
    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}