.navigations {
  position: relative;
  grid-column: content;
  display: grid;
  flex-grow: 1;
  grid-template-rows: min-content minmax(10px, 1fr) min-content;
  @media (--medium) {
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-style: none solid;
    padding: 16px 0 0;
  }
  & .nava11y {
    display: block;
  }
}
.mainnav, .metanav, #controls {
  & ul {
    margin: 0;
    padding: 0;
    & > li {
      display: inline-block;
      list-style: none;
      margin: 0;
    }
  }
}
#controls {
  background-color: var(--off-white);
  text-align: right;
  font-size: .8125em;
  padding-left: 8px;
  padding-right: 8px;
  & ul {
    padding: 8px;
    grid-area: content;
    display: flex;
    justify-content: space-between;
    @media (--small) {
      justify-content: flex-end;
    }
  }
  & a {
    color: var(--w3c-blue);
    @media (--small) {
      margin-left: 16px;
    }
    text-decoration: none;
    &:--hovcus {
      border-bottom: none;
      text-decoration: underline;
    }
    & svg {
      width: .8em;
      height: .8em;
    }
  }
}

.metanav, .mainnav {
}

.metanav {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  text-align: right;
  width: 100%;
  @media (--medium) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  & a {
    text-decoration: none;
    &:--hovcus, &[aria-current="page"] {
      border-bottom: 2px solid var(--gold);
    }
  }
  & > ul {
    width: 100%;
    @media (--medium) {
      display: flex;
      justify-content: flex-end;
    }
    & li {
      display: inline;
      margin-bottom: 8px;
      @media (--medium) {
        display: flex;
        align-items: center;
        margin: 0 8px;
      }
      &:first-child {
        margin-right: 16px;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:last-child {
        min-width: 300px;
      }
      & a {
        @media (--medium) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  & form[role=search] {
    background-color: rgba(6, 30, 54, 0.44);
    & > div {
      width: 300px;
      display:flex;
    }
    & label {
      text-transform: none;
      font-weight: normal;
      display: flex;
      align-content: center;
      width: 70%;
      flex: 1 1 70%;
      & .l {
        display: block;
        padding: 8px 4px 8px 12px;
      }
    }
    & input {
      box-sizing: border-box;
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--pure-white);
      height: 100%;
      padding: 8px 0;
      margin: 0;
      min-width: 100px;
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button {
        filter: invert(100%);
      }
    }
    & button {
      display: block;
      margin: 0;
    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}

.mainnav {
  position: relative;
  font-size: .875em;
  @media (--medium) {
    display: flex;
    align-items: flex-end;
    padding: 0 1px;
    grid-row-start: 2;
  }
  & > ul {
    width: 100%;
    @media (--medium) {
      margin:0 -8px;
      display: flex;
      align-items: flex-end;
      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 130px));
        grid-column-gap: 32px;
        margin:0;
      }
    }
    & > li {
      display:block;
      @media (--medium) {
        flex:1;
        margin: 0 16px;
        position: relative;
      }
      & > a {
        text-decoration: none;
        display:block;
        width: 100%;
        padding: 16px;
        @supports (display: grid) {
          padding:8px 0;
        }
        & br {display: none;@media (--medium) {display: block;}}
        & > span {
          display: block;
          border-bottom: 2px solid transparent;/* var(--trans-line-grey);*/
        }
        &:--hovcus, &[aria-current="page"] {
          & > span {
            border-bottom: 2px solid var(--gold);
          }
        }
      }
    }
  }

  & .subnav {
    display: none;
    background-color: var(--w3c-blue);
    padding: 0 0 16px;
    z-index: 9999;
    @media (--medium) {
      padding-top: 16px;
      position: absolute;
      left: -16px;
      width: 20em;
    }
    & > li, & > li li {
      position: relative;
      display: block !important;
      margin-bottom: 0;
      &:hover {
        background-color: var(--dk-blue);
      }
      &:last-child {
       border-bottom: none;
      }
      & > a {
        /*grid-column: 1/2;*/
      }
      &:last-child a::after, &:last-child span::after {
        display: none;
      }
      & a {
        display: block;
        text-decoration: none;
        position: relative;
        &:--hovcus {
          color: var(--gold) !important;
          background-color: var(--dk-blue);
          z-index: 5;
          &::before {
            content: "•";
            color: var(--pure-white);
            left: 16px;
            height: 1em;
            line-height: 1;
            top: 50%;
            margin-top:-.5em;
            position: absolute;
          }
        }
      }
      & span {
        display: block;
        border: 1px solid var(--trans-line-grey);
        border-width: 1px 0 0;
        margin: 0 16px 0;
        padding: 8px 16px;
      }
      &.new-section>a>span {
        border-top-width: 3px;
      }
      &:last-child>a>span {
        border-bottom-width: 1px;
      }
      & svg {
        float: right;
        width: .7em;
        height: .7em;
        right: 16px;
        top: 50%;
        margin-top:-.35em;
        position: absolute;
      }
    }
    & .subsubnav {
      display:none;
      background-color: var(--dk-blue);
      padding: 0 0 16px;
      @media (--medium) {
        padding-top: 16px;
        position: absolute;
        width: 20em;
        left: 100%;
        top: 0;
      }
      & a:--hovcus > span {
        border-color: var(--trans-line-grey);
      }
    }
    & li:--hovcus .subsubnav,
    & li.open .subsubnav {
      display:block;
    }
  }
  & li:--hovcus .subnav,
  & li.open .subnav {
    display:block;
  }
}

.mainnav.alternative {
  & .subnav {
    padding: 16px;
    columns: 2;
    width: 30em;
    & a, & strong {
      display: block;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    & .has-sub {
      page-break-inside: avoid;
    }
    & .subsubnav {
      margin-left: 1em;
      width: auto;
      /*grid-column: 2/3;*/
      display: block;
      position: static;
      left: initial;
      top: initial;
      background-color: var(--w3c-blue);
      border: 2px solid var(--w3c-blue);
      page-break-inside: avoid;
      padding: 0 !important;
      & a {
        font-weight: normal;
      }
    }
  }
}


.mainsub {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 100%;
  left:16px;
  right: 16px;
  & b {
    display: block;
  }
  &>ul {
    background-color: var(--w3c-blue);
    padding: 4px 8px;
    list-style: none;
    margin: 0;
    display:none;
    columns: 2;
    font-size: .875rem;
    & ul {
      padding:0 0 0 16px;
      margin-bottom: 16px;
      list-style: none;
      border-left: 2px solid #344D72; /* TODO: DEFINE COLOR*/
      & a {
        color: var(--off-white) !important;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
      & > li {
        padding-bottom: 8px;
      }
    }
    & > li {
      page-break-inside: avoid;
    }
    &.active {
      display: block;
    }
    &:nth-child(1) {
      grid-column: 1/4;
    }
    &:nth-child(2) {
      grid-column: 2/5;
    }
    &:nth-child(3) {
      grid-column: 1/4;
    }
    &:nth-child(4) {
      grid-column: 2/5;
    }
  }
}