.navigations {
  position: relative;
  grid-column: content;
  display: grid;
  grid-template-rows: min-content minmax(10px, 1fr) min-content;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-style: none solid;
  padding: 16px 0 0;
  & .nava11y {
    display: block;
  }
}
.mainnav, .metanav, #controls {
  & ul {
    margin: 0;
    padding: 0;
    & > li {
      display: inline-block;
      list-style: none;
      margin: 0;
    }
  }
}
#controls {
  background-color: var(--off-white);
  text-align: right;
  font-size: .8125em;
  & ul {
    padding: 8px;
    grid-area: content;
  }
  & a {
    color: var(--w3c-blue);
    margin-left: 16px;
    text-decoration: none;
    &:hover, &:focus {
      border-bottom: none;
      text-decoration: underline;
    }
    & svg {
      width: .8em;
      height: .8em;
    }
  }
}

.metanav, .mainnav {
}

.metanav {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & a {
    text-decoration: none;
    &:hover, &:focus, &[aria-current="page"] {
      border-bottom: 2px solid var(--gold);
    }
  }
  & ul {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 120px));
    grid-column-gap: 32px;
    & li {
      display: flex;
      align-items: center;
      &:first-child {
        grid-column-start: 2;
      }
      &:nth-child(2) {
        grid-column-start: 3;
      }
      &:nth-child(3) {
        grid-column-start: 4;
      }
      &:last-child {
        grid-column: 5/7;
      }
      & a {
        display: block;
        width: 100%;
        text-align: right;
      }
    }
  }
  & form[role=search] {
    background-color: rgba(6, 30, 54, 0.44);
    display:flex;
    width: 100%;
    & label {
      text-transform: none;
      font-weight: normal;
      display:flex;
      align-content: center;
      flex-basis: 70%;
      flex-grow: 1;
      flex-shrink: 1;
      & .l {
        padding: 8px 4px 8px 12px;
      }
    }
    & input {
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--pure-white);
      /* border-bottom: 1px solid var(--pure-white);*/
      height: 100%;
      padding: 8px 0;
      margin: 0;
      width:70%;
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button {
        filter: invert(100%);
      }
    }
    & button {
      margin: 0;

    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}

.mainnav {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 1px;
  grid-row-start: 2;
  font-size: .875em;
  & > ul {
    width: 100%;
    margin:0 -8px;
    display: flex;
    align-items: flex-end;
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 130px));
      grid-column-gap: 32px;
      margin:0;
    }
    & > li {
      flex:1;
      margin: 0 8px;
      position: relative;
      & > a {
        text-decoration: none;
        display:block;
        width: 100%;
        padding: 16px;
        @supports (display: grid) {
          padding:8px 0;
        }
        & > span {
          display: block;
          border-bottom: 2px solid transparent;/* var(--trans-line-grey);*/
        }
        &:--hovcus, &[aria-current="page"] {
          & > span {
            border-bottom: 2px solid var(--gold);
          }
        }
      }
    }
  }

  & .subnav {
    display: none;
    width: 15em;
    position: absolute;
    left: -24px;
    background-color: var(--w3c-blue);
    border: 2px solid var(--w3c-blue);
    padding: 16px;
    a {
      padding: 0;
    }
    & > li, & > li li {
      position: relative;
      display: block !important;
      /*display: grid;
      grid-auto-columns: 1fr;*/
      margin-bottom: 0;
      border-bottom: 1px solid var(--trans-line-grey);
      &:last-child {
       border-bottom: none;
      }
      & > a {
        /*grid-column: 1/2;*/
      }
      & a, & span {
        padding: 2px 6px;
        display: block;
        text-decoration: none;
        position: relative;
        &:--hovcus {
          color: var(--gold) !important;
          &::before {
            content: "•";
            color: var(--pure-white);
            left: -.5em;
            position: absolute;
          }
        }
      }
      & svg {
        float: right;
        width: .75em;
        height: .75em;
        margin-left: .85em;
        margin-top: .4em;
      }
    }
    & .subsubnav {
      width: 15em;
      /*grid-column: 2/3;*/
      display:none;
      position: absolute;
      left: 100%;
      top: 0;
      background-color: var(--w3c-blue);
      border: 2px solid var(--w3c-blue);
      padding: 16px;
    }
    & li:--hovcus .subsubnav{
      display:block;
    }
  }
  & li:--hovcus .subnav {
    display:block;
  }
}

.mainsub {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 100%;
  left:16px;
  right: 16px;
  & b {
    display: block;
  }
  &>ul {
    background-color: var(--w3c-blue);
    padding: 4px 8px;
    list-style: none;
    margin: 0;
    display:none;
    columns: 2;
    font-size: .875rem;
    & ul {
      padding:0 0 0 16px;
      margin-bottom: 16px;
      list-style: none;
      border-left: 2px solid #344D72; /* TODO: DEFINE COLOR*/
      & a {
        color: var(--off-white) !important;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
      & > li {
        padding-bottom: 8px;
      }
    }
    & > li {
      page-break-inside: avoid;
    }
    &.active {
      display: block;
    }
    &:nth-child(1) {
      grid-column: 1/4;
    }
    &:nth-child(2) {
      grid-column: 2/5;
    }
    &:nth-child(3) {
      grid-column: 1/4;
    }
    &:nth-child(4) {
      grid-column: 2/5;
    }
  }
}