.navigations {
  position: relative;
  grid-column-start: 5;
  grid-column-end: -2;
  flex-grow: 1;
  @media (--medium) {
    /*border: 1px solid rgba(255, 255, 255, 0.11);
    border-style: none solid;*/
    /*padding: 16px 0 0;*/
  }
  & .nava11y {
    display: block;
  }
}
.mainnav, .metanav, #controls {
  & > ul {
    margin: 0;
    padding: 0;
    & > li {
      display: inline-block;
      list-style: none;
      margin: 0;
    }
  }
}