<section class="teaser grid-five-three">
  <div class="col1 teaser-about grid-line-right">
    <header class="teaser-h">
      <h2>What is the W3C Web Accessibility Initiative (WAI)?</h2>
    </header>
    <p>[Placeholder short description] W3C’s WAI develops guidelines widely regarded as the international standard for Web accessibility support materials to help understand and implement Web accessibility resources, through international collaboration.</p>
  </div>
  <a href="#" class="col2 stealthy-link teaser-tip">
    <header class="teaser-h">
      <h2>{%- render '@icons', name="lightbulb", class="tips" -%} <span>Tip of the Week</span></h2>
    </header>
    <p>Provide sufficient contrast between foreground and background</p>
    <span class="fakelink">More Design Tips {%- render '@icons', name="chevron-right" -%}</span>
  </a>
</section>