<section class="teaser featured grid-three-five" style="background-image: url({{ image | path }}); background-image: -webkit-image-set(url({{ image1x | path }}) 1x, url({{ image2x | path }}) 2x)">
  <a class="teaser-c stealthy-link col1" href="#">
    <header class="teaser-h featured">
      <p class="subtitle">{{subtitle}}</p>
      <h2 class="title">
        {%- render '@icons', name=icon, class="teaser-h-icon" -%} {{title}}
      </h2>
    </header>
    <p>
      {{description}}
    </p>
    <div>
      {%render "@button", name="fake", type="fake", label="Read More" %}
    </div>
  </a>
</section>