<div class="grid-4q nogap teaser">
  <a href="#" class="q1-start q1-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">{%- render '@icons', name='loupe', class="teaser-h-icon full" -%} Audit</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more {%- render '@icons', name="chevron-right" -%}</span>
  </a>
  <a href="#" class="q2-start q2-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">{%- render '@icons', name='design', class="teaser-h-icon full" -%} Design</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more {%- render '@icons', name="chevron-right" -%}</span>
  </a><a href="#" class="q3-start q3-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">{%- render '@icons', name='development', class="teaser-h-icon full" -%} Develop</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more {%- render '@icons', name="chevron-right" -%}</span>
  </a><a href="#" class="q4-start q4-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">{%- render '@icons', name='laws', class="teaser-h-icon full" -%} Laws &amp; Policies</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more {%- render '@icons', name="chevron-right" -%}</span>
  </a>
</div>