.making-web-accessible {
  text-align:center;
  border-bottom: 1px solid var(--line-grey);
  flex-direction: column;
  & .making-web-accessible-box {
    text-align: left;
    padding: 32px 20px 0 105px;
  }
  & .mwa-icon {
    width:  65px;
    height: 65px;
    float:left;
    margin-left: -85px;
  }
  & .title {
    display: block;
    font-size: 2.25rem;
  }
  & .teaser-h h2 {
    margin:0;
  }
  & h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom:0;
  }
  & p {
    margin-bottom:0;
  }
}