<div class="default-grid teaser teaser-sponsors">
  <div class="inner">
    <header class="teaser-h">
      <h2 class="title">Sponsors and Funders</h2>
    </header>
    <p>WAI is supported in part by the following organizations. Thank you!</p>
<ul class="">
  <li><a href="#">Adobe Systems</a></li>
  <li><a href="#">Deque Systems</a></li>
  <li><a href="#">ETS</a></li>
  <li><a href="#">HP Enterprise</a></li>
  <li><a href="#">HP Inc.</a></li>
  <li><a href="#">IBM Corporation</a></li>
  <li>US Department of Health and Human Services, <a href="#">National Institute for Disability</a>, Independent Living and Rehabilitation Research, contract HHSP23301500054 (<a href="#">WAI-Core 2015 Project</a>)</li>
  <li>US Access Board (<a href="#">WCAG TA Project</a>)</li>
</ul>
<p>WAI welcomes <a href="#">additional sponsors and contributors</a>.</p>
  </div>
</div>