.teaser.featured {
  @apply --full-grid-three-five;
  background-size: cover;
  padding: 64px 0;
  & .teaser-c {
    grid-area: three;
    background-color: rgba(255, 255, 255, 0.92);
    border-top: 5px solid var(--faded-red);
    padding: 16px 32px;
  }
  & .teaser-h {
    font-size: 2.375rem;
  }
}

.teaser-h {
  & h2, & h3, & h4, & h5, & h6 {
    margin: 16px 0;
    padding: 0;
    border:none;
    color: var(--wai-green);
    font-size: 1em;
    line-height: 1.2;
  }
  & p {
    font-weight: bold;
    margin: 0;
  }
}

.teaser-h-icon {
  height:1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: .5em
}

.teaser-tip {
  text-align: center;
  & .teaser-h span {
    display:block;
  }
  & .teaser-h h2 {
    font-size: 1.75rem
  }
  & .teaser-h svg {
    height: 3rem;
    width: 3rem;
  }
}

.teaser-about {
  & p {
    font-size: 1.5rem;
    color: var(--grey);
  }
  & .teaser-h h2 {
    font-weight: bold;
  }
}