.related-content {
  background-color: var(--pure-white);
  border: 1px solid var(--line-grey);
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  margin: 50px;
}

.related-content--head {
  align-items: center;
  background-color: var(--off-white);
  border-box-end: 1px solid var(--line-grey);
  display: flex;
  flex-direction: row;
  block-size: 48px;
}

.related-content--head-icon {
  block-size: 22px;
  margin-inline-end: 10px;
  margin-inline-start: 19px;
  inline-size: 22px;
}

.related-content--head-heading {
  border: none;
  color: var(--w3c-blue);
  flex: 1 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}


.related-content--content {
  margin: 0;
  padding: 0;
}

.related-content--content-list {
  list-style: none;
  margin: 22px;
  padding: 0;
}

.related-content--content-list li {
  font-size: 14px;
  line-height: 2.2em;
}