<div class="related-content">
  <div class="related-content--head">
    <img src="/assets/images/icon-related-content.svg" aria-hidden="true" class="related-content--head-icon">
    <h2 class="related-content--head-heading">Related Content</h2>
  </div>
  <div class="related-content--content">
    <ul class="related-content--content-list">
      <li><a href="#">Related Content Link One</a></li>
      <li><a href="#">Related Content Link Two</a></li>
      <li><a href="#">Related Content Link Three</a></li>
      <li><a href="#">Related Content Link Four</a></li>
      <li><a href="#">Related Content Link Five</a></li>
    </ul>
  </div>
</div>