.info {
  background-color: var(--gold);
  background-image: linear-gradient(to bottom, var(--gold), color(var(--gold) blackness(15%)));
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: bottom;
  font-weight: bold;
  text-align: center;
  & svg {
    margin-inline-end: 8px;
    font-size: 2em;
    vertical-align: middle;
    margin-block-start: -.14em;
  }
}