<table class="sortable dense" summary=" (Click a column header to sort)">
    <caption>
      <h3>Overview Table:</h3>
      <div id="infos"><div class="bottomline active"><div class="facettotalcount"><strong><span aria-live="true">Showing 40 results</span></strong></div>&nbsp;<button type="button" id="deselect" class="btn" style="display: none;"><!-- svg aria-hidden="true" class="i-refresh"><use xlink:href="#i-refresh"></use></svg --> Clear filters</button>&nbsp;</div></div>
    </caption>
    <thead>
    <tr>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink0" href="#sortLink0">Country<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink1" href="#sortLink1">Name<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink2" href="#sortLink2">Date enacted<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink3" href="#sortLink3">Type (Policy, law, legislation, etc.)<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink4" href="#sortLink4">Scope<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink5" href="#sortLink5">Web Only<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
      <th class=" sort-alpha unsorted"><a class="sortLink" id="sortLink6" href="#sortLink6">WCAG Version Used<abbr title="(default sorting)" class="sortIcon" style="border-style: none;">&nbsp;↕</abbr></a></th>
    </tr>
    </thead>
    <div style="width: 939px; height: 5704px; position: absolute; background-color: rgb(255, 255, 153); opacity: 0.8; display: none;"></div><tbody id="results">
  <tr>
    <td><a href="/WAI/policies/australia/">Australia</a></td>
    <td><a href="/WAI/policies/australia/#disability-discrimination-act-1992-dda">Disability Discrimination Act 1992 (DDA)</a></td>
    <td>1992</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/australia/">Australia</a></td>
    <td><a href="/WAI/policies/australia/#procurement-standard-guidance">Procurement Standard Guidance</a></td>
    <td>2016</td>
    <td class="hyphenated">Procurement recommendation</td>
    <td class="hyphenated">
      Government
    </td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/canada/">Canada</a></td>
    <td><a href="/WAI/policies/canada/#canadian-human-rights-act">Canadian Human Rights Act</a></td>
    <td>1985</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">
      Public sector, Private sector
    </td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/canada/">Canada</a></td>
    <td><a href="/WAI/policies/canada/#policy-on-communications-and-federal-identity">Policy on Communications and Federal Identity</a></td>
    <td>2016</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">
      Government
    </td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/china/">China</a></td>
    <td><a href="/WAI/policies/china/#law-on-the-protection-of-persons-with-disabilities-1990-as-amended">Law on the Protection of Persons with Disabilities 1990, as amended</a></td>
    <td>2008</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">
      Public sector, Private sector
    </td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/china/">China</a></td>
    <td><a href="/WAI/policies/china/#voluntary-web-accessibility-standard">Voluntary Web Accessibility Standard</a></td>
    <td>2008</td>
    <td class="hyphenated">Recommendation</td>
    <td class="hyphenated">
      Government
    </td>
    <td>yes</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/denmark/">Denmark</a></td>
    <td><a href="/WAI/policies/denmark/#agreement-on-the-use-of-open-standards-for-software-in-the-public-sector">Agreement on the use of open standards for software in the public sector</a></td>
    <td>2007</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">
      Public sector
    </td>
    <td>yes</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/european-union/">European Union</a></td>
    <td><a href="/WAI/policies/european-union/#web-and-mobile-accessibility-directive">Web and Mobile Accessibility Directive</a></td>
    <td>2016</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">
      Public sector
    </td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/european-union/">European Union</a></td>
    <td><a href="/WAI/policies/european-union/#european-accessibility-act-proposed">European Accessibility Act (proposed)</a></td>
    <td>draft</td>
    <td class="hyphenated">Proposed law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/finland/">Finland</a></td>
    <td><a href="/WAI/policies/finland/#act-on-electronic-services-and-communication-in-the-public-sector">Act on Electronic Services and Communication in the Public Sector</a></td>
    <td>2003</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Government</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/france/">France</a></td>
    <td><a href="/WAI/policies/france/#law-n-2005-102-article-47">Law N° 2005-102 Article 47</a></td>
    <td>2005</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/france/">France</a></td>
    <td><a href="/WAI/policies/france/#order-of-29-april-2015-on-the-general-accessibility-framework-for-public-administrations">Order of 29 April 2015 on the general accessibility framework for public administrations</a></td>
    <td>2015</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector</td>
    <td>yes</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/france/">France</a></td>
    <td><a href="/WAI/policies/france/#law-n-2016-1321-article-106">Law N° 2016-1321 Article 106</a></td>
    <td>2016</td>
    <td class="hyphenated">Digital Governance law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/germany/">Germany</a></td>
    <td><a href="/WAI/policies/germany/#act-on-equal-opportunities-for-disabled-persons-of-2002">Act on Equal Opportunities for Disabled Persons of 2002</a></td>
    <td>2002</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/germany/">Germany</a></td>
    <td><a href="/WAI/policies/germany/#federal-ordinance-on-barrier-free-information-technology">Federal Ordinance on Barrier-Free Information Technology</a></td>
    <td>2011</td>
    <td class="hyphenated">Accessibility policy</td>
    <td class="hyphenated">Government</td>
    <td>yes</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/hong-kong/">Hong Kong</a></td>
    <td><a href="/WAI/policies/hong-kong/#guidelines-on-dissemination-of-information-through-government-websites">Guidelines on Dissemination of Information through Government Websites</a></td>
    <td>1999</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">Government</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/india/">India</a></td>
    <td><a href="/WAI/policies/india/#rights-of-persons-with-disabilities-act-2016-rpd">Rights of Persons with Disabilities Act, 2016 (RPD)</a></td>
    <td>2016</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/india/">India</a></td>
    <td><a href="/WAI/policies/india/#guidelines-for-indian-government-websites">Guidelines for Indian Government Websites</a></td>
    <td>2009</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">Government</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/ireland/">Ireland</a></td>
    <td><a href="/WAI/policies/ireland/#the-disability-act-2005">The Disability Act, 2005</a></td>
    <td>2005</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/ireland/">Ireland</a></td>
    <td><a href="/WAI/policies/ireland/#equal-status-acts-2000-to-2004">Equal Status Acts 2000 to 2004</a></td>
    <td>2004</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/ireland/">Ireland</a></td>
    <td><a href="/WAI/policies/ireland/#employment-equality-acts-1998-and-2004">Employment Equality Acts 1998 and 2004</a></td>
    <td>2004</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/israel/">Israel</a></td>
    <td><a href="/WAI/policies/israel/#equal-rights-of-persons-with-disabilities-act-as-amended">Equal Rights of Persons with Disabilities Act, as amended</a></td>
    <td>1998</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/italy/">Italy</a></td>
    <td><a href="/WAI/policies/italy/#law-9-january-2004-n-4-provisions-to-support-the-access-of-disabled-people-to-it-tools-stanca-law">Law 9 January 2004, n. 4 "Provisions to support the access of disabled people to IT tools" (Stanca Law)</a></td>
    <td>2004</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector, Government</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/japan/">Japan</a></td>
    <td><a href="/WAI/policies/japan/#basic-act-on-the-formation-of-an-advanced-information-and-telecommunications-network-society">Basic Act on the Formation of an Advanced Information and Telecommunications Network Society</a></td>
    <td>2000</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/netherlands/">Netherlands</a></td>
    <td><a href="/WAI/policies/netherlands/#procurement-law-2012">Procurement Law 2012</a></td>
    <td>2016</td>
    <td class="hyphenated">Procurement law</td>
    <td class="hyphenated">Government</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/netherlands/">Netherlands</a></td>
    <td><a href="/WAI/policies/netherlands/#policy-in-the-netherlands">Policy in the Netherlands</a></td>
    <td>2016</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">Government, Public sector</td>
    <td>yes</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/new-zealand/">New Zealand</a></td>
    <td><a href="/WAI/policies/new-zealand/#human-rights-act-1993-including-amendments">Human Rights Act 1993, including amendments</a></td>
    <td>1993</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/new-zealand/">New Zealand</a></td>
    <td><a href="/WAI/policies/new-zealand/#online-practice-guidelines">Online Practice Guidelines</a></td>
    <td>2013</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">Government</td>
    <td>yes</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/norway/">Norway</a></td>
    <td><a href="/WAI/policies/norway/#regulations-on-universal-design-of-ict">Regulations on universal design of ICT</a></td>
    <td>2013</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/republic-of-korea/">Republic of Korea</a></td>
    <td><a href="/WAI/policies/republic-of-korea/#act-on-welfare-of-persons-with-disabilities">Act on Welfare of Persons with Disabilities</a></td>
    <td>2008</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/sweden/">Sweden</a></td>
    <td><a href="/WAI/policies/sweden/#discrimination-act-2008-567">Discrimination Act (2008:567)</a></td>
    <td>2008</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/switzerland/">Switzerland</a></td>
    <td><a href="/WAI/policies/switzerland/#federal-law-on-the-elimination-of-inequalities-for-persons-with-disabilities-as-amended">Federal Law on the Elimination of Inequalities for Persons with Disabilities, as amended</a></td>
    <td>2002</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/taiwan/">Taiwan</a></td>
    <td><a href="/WAI/policies/taiwan/#web-accessibility-guidelines-2-0">Web Accessibility Guidelines 2.0</a></td>
    <td>2017</td>
    <td class="hyphenated">Mandatory policy</td>
    <td class="hyphenated">Public sector</td>
    <td>yes</td>
    <td>WCAG 2.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-kingdom/">United Kingdom</a></td>
    <td><a href="/WAI/policies/united-kingdom/#equality-act-2010">Equality Act 2010</a></td>
    <td>2010</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#section-508-of-the-us-rehabilitation-act-of-1973-as-amended">Section 508 of the US Rehabilitation Act of 1973, as amended</a></td>
    <td>1998</td>
    <td class="hyphenated">Procurement law, Accessibility law</td>
    <td class="hyphenated">Government</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#americans-with-disabilities-act-of-1990-ada-as-amended">Americans with Disabilities Act of 1990 (ADA), as amended</a></td>
    <td>2009</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#section-504-of-the-u-s-rehabilitation-act-of-1973-as-amended">Section 504 of the U.S. Rehabilitation Act of 1973, as amended</a></td>
    <td>1990</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Public sector</td>
    <td>no</td>
    <td>WCAG 1.0 derivative</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#section-255-of-the-telecommunications-act-of-1996">Section 255 of the Telecommunications Act of 1996</a></td>
    <td>1996</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Public sector, Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#air-carrier-access-act-of-1986">Air Carrier Access Act of 1986</a></td>
    <td>2013</td>
    <td class="hyphenated">Non-discrimination law</td>
    <td class="hyphenated">Private sector</td>
    <td>no</td>
    <td>WCAG 2.0</td>
  </tr>

  <tr>
    <td><a href="/WAI/policies/united-states/">United States</a></td>
    <td><a href="/WAI/policies/united-states/#21st-century-communications-and-video-accessibility-act-of-2010-cvaa">21st Century Communications and Video Accessibility Act of 2010 (CVAA)</a></td>
    <td>2010</td>
    <td class="hyphenated">Accessibility law</td>
    <td class="hyphenated">Private sector</td>
    <td>no</td>
    <td>None</td>
  </tr>
</tbody><button type="button" id="showmorebutton" style="display: none;">Show more</button>
  </table>