.doc-note {
  & h1 {
    &::before{
      background-color: var(--gold);
      color: var(--dk-blue);
      display: inline-block;
      padding: 4px 8px;
      margin-top: -8px;
      margin-right: 8px;
      font-size: .875rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      vertical-align: middle;
      border-radius: 3px;
    }
  }
}

.doc-note-box {
  border: 2px solid var(--gold);
  padding: 8px;
  background-color: var(--pure-white);
  margin-bottom: 20px;
  & p:first-child {
    margin-top: 0;
  }
  & p:last-child {
    margin-bottom: 0;
  }
}

.doc-note-translations {

}