<div class="logos">
  <a href="/" class="home">
    <img src="{{ "/assets/images/w3c.svg" | path }}" alt="W3C">
    <span class="wai"><span class="wa">Web&nbsp;Accessibility</span> <span class="i">Initiative</span></span>
  </a>
  <div class="claim">
    Strategies, standards, and resources to make the web accessible to people with disabilities.
  </div>
  <button class="button button-menu" id="openmenu"><span><svg aria-hidden="true" class="icon-menu "><use xlink:href="/assets/images/icons.svg#icon-menu"></use></svg> Menu</span></button>
</div>