:root {
  --w3c-blue: #003366;
  --wai-petrol: #005A6A;
  --off-black: #1d1d1d;
  --dk-grey: #3b3b3b;
  --faded-red: #c0272d;
  --light-blue: #196cac;
  --gold: #eed009;
  --ocean: #00818d;
  --cloudy: #bccbd3;
  --grey: #686868;
  --line-grey: #ddd;
  --trans-line-grey: rgba(221, 221, 221, 0.32);
  --off-white: #f2f2f2;
  --body-bg: #FAFAFC;
  --lt-off-white: #fafafa;
  --pure-white: #ffffff;
  --visited-link: #660066;
  --footer-grey: #efefef;
}
