<div style="background-color:#FAFAFA; color: #1d1d1d;">
  Body Text Color/Background #1d1d1d on #FAFAFA (16.15:1)
</div>
<div style="background-color:#FAFAFA; color: #036;">
  W3C Blue Color/Background #036 on #FAFAFA (12.08:1)
</div>
<div style="background-color:#FAFAFA; color: #00666F;">
  Headings Color/Background #00666F on #FAFAFA (6.43:1)
</div>
<div style="background-color:#EED009; color: #3B3B3B;">
  Body Text Color/Background #3B3B3B on #EED009 (7.29:1)
</div>
<div style="background-color:#FAFAFA; color: #1d1d1d;">
  Body Text Color/Background #1d1d1d on #FAFAFA
</div>
<div style="background-color:#FAFAFA; color: #1d1d1d;">
  Body Text Color/Background #1d1d1d on #FAFAFA
</div>
