.with-sidenotes {
  & * {
    grid-column: 1/2;
    grid-auto-flow: dense;
  }
  & .ref-side, & .demo-side {
    grid-column: 2/3;
    font-size: .875rem;
    line-height: 1.2;
    & p:first-of-type {
      margin-top: 0;
    }
  }
}
