{% render '@sn-header-base', mods=['contents'], id="contents", label="Page Contents", icon=false, content='
<ul class="sidenav--list">
  <li><a href="#overview">Overview</a></li>
  <li><a href="#intro">Introduction</a></li>
  <li><a href="#approach">Consider your Approach</a></li>
  <li><a href="#contact">Identify Key Contacts</a></li>
  <li><a href="#report">Describe the Problem</a></li>
  <li><a href="#pointers">Sources for More Information</a></li>
  <li><a href="#request">Request Reply</a></li>
  <li><a href="#follow-up">Follow-up as Needed</a></li>
  <li><a href="#samples">Sample Emails</a></li>
</ul>' %}
<main id="main">
  <header class="in-resource">
    <h1>Contacting Organizations about Inaccessible Websites</h1>
    <p>in <a href="…">Link to Resource Home Page</a></p>
  </header>
  <div class="box overview " id="overview">
    <header class="box-h">
      <h2>Overview</h2>
    </header>
    <div class="box-i">
      <p class="listintro">Steps to help you report websites with accessibility problems are described on this page:</p>
      <ol class="listwithp">
        <li><strong>Identify  key contacts</strong></li>
        <li><strong>Describe the problem</strong></li>
        <li><strong>Follow-up as needed</strong></li>
      </ol>
      <p class="listintro"> Additional tips include:</p>
      <ul class="listwithp">
        <li>Consider what approach will get the results you want</li>
        <li>Keep records of all communications for possible follow-up</li>
        <li>Encourage others to also provide feedback to the organization</li>
        <li>Use the sample emails provided below</li>
      </ul>
    </div>
  </div>
  <h2 id="intro">Introduction</h2>
  <p>Your feedback to an organization can help improve the accessibility of websites for you and many other people who use  the websites. Website owners have many priorities for changes and improvements, and the more an organization hears about accessibility from people who use their website, the more likely it is that accessibility will become a higher priority. <a href="#encourage">Positive feedback</a> is useful, as well as critical feedback.</p>
  <p>Some website owners are not even aware of the importance of making their website accessible. Websites are required to be accessible in many countries by <a href="/WAI/Policy/">national policies</a>. The <a href="http://www.un.org/disabilities/default.asp?navid=12&amp;pid=150">UN Convention on the Rights of Persons with Disabilities</a> states  that people with disabilities have a right to access information and services  via the Internet. Also, accessible websites  provide <a href="/WAI/bcase/">business benefits</a> for website owners and <a href="/WAI/bcase/soc.html#groups">benefits for people without disabilities</a>.</p>
  <p>This document provides guidance on encouraging organizations  to make their  websites accessible, particularly when you find accessibility  barriers on  a website. While most accessibility barriers are caused by poor website design, some accessibility problems might be related to settings in your web browser or assistive technology. For guidance to help you customize your particular web browser and computer setup so it's easier to use websites, see <a href="https://www.w3.org/WAI/users/browsing.html">Better Web Browsing: Tips for Customizing Your Computer</a>. </p>
  <h2 id="approach">Consider Your Approach</h2>
  <p>When contacting an organization about accessibility, consider what approach will get the results you want. The tone of your emails, phone calls, and other communications will impact how people react and respond.</p>
  <p>Keep in mind that there are different reasons why websites are not accessible. Some organizations don't know about accessibility and don’t know how to make their websites accessible. Some are just learning about accessibility and trying to make their website accessible, although they might not be doing it well enough yet. And there are some organizations that choose not to make their websites accessible.</p>
  <p> Often it is best when you first contact an organization to assume that
    they don’t know about the accessibility barriers on their website. Based on their response and what you learn about the organization's position on accessibility, you can adjust your approach and choose follow up actions that are likely to be most effective.</p>
  <h3 id="ask">Asking Others to Help</h3>
  <p>If you are not sure about using websites and assistive technologies, consider asking someone to help you understand the problem you are having and help you communicate it to the website owners.</p>
  <p>If you aren't comfortable contacting an organization with an inaccessible website directly, consider asking others to help. Advocacy groups of people with disabilities, of older people, or others, may be interested in contacting the organization about their inaccessible website.</p>
  <h3 id="encourage">Encouraging Accessible Websites</h3>
  <p>Consider also acknowledging and encouraging organizations that do a  good job of making their websites accessible and easy to use by people  with disabilities and older people. Positive feedback can motivate individuals and help the case for organizations to continue pursuing accessibility. Organizations not  yet investing in web accessibility may be enticed by the accolades  others get from their efforts.</p>
  <h2 id="contact">Identify Key Contacts</h2>
  <p class="listintro">It is best to figure out  the person responsible for the web page or application that is inaccessible, or the person responsible for  accessibility at the organization. If that is difficult,  use whatever contact you can find. Look for links on the web page  such as:</p>
  <ul class="listwithp">
    <li>Accessibility</li>
    <li>Editor, Author, Page Owner,  Webmaster</li>
    <li>Contact Us, Feedback, Comments</li>
    <li>Help, Support, Customer Service, “FAQ” (frequently asked questions)</li>
  </ul>
  <p class="listintro">Some links will be email addresses, and some  will go to online forms or other ways to contact the organization.</p>
  <p class="listintro">If you cannot find contacts on the website, other places to look include:</p>
  <ul class="listwithp">
    <li>telephone directory</li>
    <li>local library and librarian</li>
    <li>local business directory</li>
    <li>public companies register </li>
  </ul>
  <h2 id="report">Describe the Problem</h2>
  <p>To help the organization diagnose and fix accessibility barriers, clearly describe where the problem occurred, what the problem is,  what you were trying to do, and what computer and software you're using. Consider including a screen shot of the web page that has the problem.</p>
  <h3 id="where">Where is the Problem?</h3>
  <p>Include the web address (also called URL), or a description of the page.</p>
  <div class="example-bar">
    <p class="eg">e.g.</p>
    <div>
      <p class="listintro">Example of a  web address (URL):</p>
      <ul class="listafterpul">
        <li> http://www.example.org/services/local.html</li>
        <li>https://www.example.org/checkout/confirm.php</li>
      </ul>
      <p class="listintro">Examples of   page descriptions:</p>
      <ul class="listafterpul">
        <li>"the Local Services page, the one with the lists of Residential Services and Business Services"</li>
        <li>"the Confirm Purchase page after I entered my credit card information"</li>
        <li>"the Search Results from the Services Directory Database"</li>
      </ul>
    </div>
  </div>
  <h3> <a id="prob"></a>What is the Problem?</h3>
  <p>Provide details about what you were trying to do, and why it was difficult or impossible to do it.</p>
  <div class="example-bar">
    <p class="eg">e.g.</p>
    <div>
      <p class="listafter">Examples of  problem descriptions:</p>
      <ul class="listwithp">
        <li class="listspaced"><strong>keyboard navigation</strong> – I can't get from the home page to the pages for paying my bill. I can't use a mouse so I use Tab to get to links, but I can't tab to the Pay Your Bills link.</li>
        <li class="listspaced"><strong>mouse clicking</strong> – It's hard for me to get the mouse to stop on small things. In the survey, it’s hard to click the little circles. On other surveys I've used, I can click on the words as well as the circles, which is a lot easier.</li>
        <li class="listspaced"><strong>small text</strong> – I can't read the bus timetables because the text is too small. I set the text size to Larger in my browser, but the text didn't get any bigger.</li>
        <li class="listspaced"><strong>overlapping text</strong> – I  had trouble reading the small text. I  increased the text size in my browser, but  then much of the text overlapped other text and the pictures, making it impossible to read.</li>
        <li class="listspaced"><strong>color combinations</strong> – It's difficult to read some of the product descriptions because the colors make it hard to see the text; in particular I have problems with blue/yellow and blue/orange color combinations.</li>
        <li class="listspaced"><strong>alt text</strong> – I'm using a screen reader to listen to your website. Screen readers can’t read images; they read the alt text from the code. The images on this page are missing alt text. For example, I hear "240.gif" which my friend tells me is an image for Special Discounts.</li>
        <li class="listspaced"><strong>distracting animations</strong> – I found the home page very confusing and it was difficult to find the information I wanted with all the animated things all over the page. They kept drawing my attention away from what I was trying to read.</li>
        <li class="listspaced"><strong> captions</strong> – I was told your website has good video tutorials, but I cannot get much information from the videos because I can't hear them and they are missing captions.</li>
      </ul>
    </div>
  </div>
  <h3 id="about">What Computer and Software are You Using?</h3>
  <p>Provide details about your computer and software. If you don't know, maybe a friend, relative, or colleague can help you. If not, you can skip this part.</p>
  <p class="listintro">Include:</p>
  <ul class="listwithp">
    <li>the <strong>operating system</strong> you are using, and the version; for example, Windows 10, macOS 10.13, or Linux Ubuntu 17.10</li>
    <li>the <strong>browser</strong> software you use to view the Web, and the version;  for example, Internet Explorer 11 (IE 11), Firefox 60, Chrome 62.0, Opera 45, Safari 10.1.2, etc.</li>
  </ul>
  <p class="listintro">If it is related to the problem you are experiencing, also include:</p>
  <ul class="listwithp">
    <li>any <strong>settings</strong> you have customized; for example, I set the Font Size to Largest in my browser</li>
    <li>any <strong>assistive technology</strong> that you use; for example, screen reader, screen magnification software, voice recognition software for input</li>
  </ul>
  <div class="example-bar">
    <p class="eg">e.g.</p>
    <div>
      <p class="listintro">Examples of  detailed computer and software descriptions:</p>
      <ul class="listafterpul">
        <li>I use Windows 10 with Internet Explorer V.11 and Tazti voice recognition software to navigate the computer screen and the Web</li>
        <li>I use the NVDA screen reader version 2017.2 with Windows 10 Home edition and the Firefox browser version 60</li>
      </ul>
    </div>
  </div>
  <p>Even if you don’t know all the details, include what you do know.</p>
  <div class="example-bar">
    <p class="eg">e.g.</p>
    <div>
      <p class="listintro">Examples of  simple descriptions:</p>
      <ul class="listafterpul">
        <li>I use a Mac with the Safari browser and set the Universal Access to never use fonts smaller than 14.</li>
        <li>I use Windows with Internet Explorer. I changed the Windows colors to give me yellow text on a black background as it’s easier to read.</li>
        <li>I use the Opera browser with Windows  and use keystrokes to navigate websites (I can't use a mouse at all).</li>
      </ul>
    </div>
  </div>
  <p><em>Note:</em> <strong>Do not reveal personal information such as passwords, </strong><strong>via email or otherwise.</strong> Do not provide any  information that you are not comfortable  disclosing.</p>
  <h2 id="pointers">Include Sources for More Information</h2>
  <p>Consider telling the organization about the following resources to help them understand these web accessibility issues:</p>
  <ul class="listwithp">
    <li><strong><a href="https://www.w3.org/standards/webdesign/accessibility"> Accessibility – W3C</a> <br>
      https://www.w3.org/standards/webdesign/accessibility.html</strong></li>
    <li><a href="https://www.w3.org/WAI/intro/accessibility.php">Introduction to Web Accessibility</a><br>
      https://www.w3.org/WAI/intro/accessibility.php</li>
    <li><a href="https://www.w3.org/WAI/bcase/Overview.html">Developing a Web Accessibility Business Case for Your Organization</a> <br>
      https://www.w3.org/WAI/bcase/Overview.html</li>
    <li><a href="https://www.w3.org/WAI/intro/people-use-web">How People with Disabilities Use the Web</a><br>
      https://www.w3.org/WAI/intro/people-use-web.html</li>
    <li><a href="https://www.w3.org/WAI/intro/wcag.php">Web Content Accessibility Guidelines (WCAG) Overview</a> <br>
      https://www.w3.org/WAI/intro/wcag.php</li>
  </ul>
  <h2 id="request">Request Reply</h2>
  <p>Ask  the organization to reply to you, and include how you want them  to contact you, for example, by email. If you are comfortable, include  a phone number in case they want to learn more about the problem.</p>
  <h2 id="follow-up">Follow-Up as Needed</h2>
  <p class="listintro">Responsible organizations will follow up with you; however, sometimes you might need to follow up with them.</p>
  <h3 id="follow">Be Available for Follow-up</h3>
  <p>The website developers might need more information from you to help them diagnose and fix the problem.</p>
  <h3 id="records">Keep Records for Further Follow-Up</h3>
  <p class="listintro">You might need records if you later decide to <a href="#action">take further action</a>. In particular: </p>
  <ul class="listwithp">
    <li>Keep copies of the website when you first encounter the problem and any time the website changes, for example make electronic screen shots, save the pages locally, or print the pages that contain the problem.</li>
    <li>Keep printed or electronic copies of all correspondence, including  email, postal mail, online forms.</li>
    <li>Keep records of all phone calls; including the dates, the names of who you talked with, and notes on what was said.</li>
  </ul>
  <h3 id="response">Getting a Response</h3>
  <p>Different organizations have different cultures and  systems for managing correspondence and handling feedback and complaints. Some organizations can respond quickly, while others take longer because of their size or internal processes. For example, some government departments and large organizations have a policy of responding to correspondence within four weeks. </p>
  <p>Sometimes you will get a reply that is just an acknowledgement that the organization received your contact. This may be automatically generated, especially if you used an online feedback form. The organization should later follow up with a direct reply to your issue.</p>
  <p>Sometimes organizations do not have expertise in accessibility and might not understand your feedback. They might assume the issue is with your browser or assistive technology.</p>
  <p>If you do not receive satisfactory responses within a reasonable timeframe, consider taking further action, described below. Note that in some cases, the organization might fix the problem and not notify you.</p>
  <h3 id="action">Further Action to Consider</h3>
  <p class="listintro">If you feel  the organization  is not adequately resolving the accessibility problem, consider what further action would be useful in your case, such as: </p>
  <ul class="listwithp">
    <li>Contacting an advocacy group of people with disabilities, of older people, or others, to see if they will get involved.</li>
    <li> Contacting the organization's senior management, such as the Chief Executive Officer (CEO), the Managing Director, or Chief Business Officer.</li>
    <li>Using online community resources, such as blogging or social networking, to tell others about the inaccessible website and what the organization did in response to your contact.</li>
    <li>Contacting the press or writing a "letter to the editor".</li>
    <li>Starting a petition (maybe online).</li>
    <li>If it is a government website, contacting your local government or parliamentary representative.</li>
    <li>Lodging a formal complaint with the relevant  industry regulator or ombudsman.</li>
    <li>Contacting the government department responsible for disability rights, older people's rights, or human rights.</li>
    <li>Considering legal action, for example, based on web accessibility requirements in <a href="/WAI/Policy/">anti-discrimination regulations in your country</a>.</li>
  </ul>
  <h2 id="samples">Sample Emails</h2>
  <p>Feel free to adapt these sample emails for your situation. </p>
  <h3> <a id="template"></a>Email Template</h3>
  <p>In the template below, the <span class="hint">[hints]</span> in brackets are sections for you to complete. </p>
  <div class="example-sheet">
    <div class="example-sheet-inner">
      <p><strong>Subject:</strong> Problem encountered on <span class="hint">[XYZ website]</span></p>
      <p><strong>Dear </strong><span class="hint">[name or position of person you're writing to]</span></p>
      <p> <strong>I had problems on the web page </strong><span class="hint">[web address (URL), or describe the page where the problem occurs </span><br>
        <strong> I tried to </strong><span class="hint">[describe what you were trying to do on their site]</span>. <br>
        <strong>The problem was</strong> <span class="hint">[describe what doesn't work for you or what doesn't work the way you expected]</span>.<br>
        <strong>This meant I was unable to</strong> <span class="hint">[describe what you had hoped to do on their website]</span>.<br>
        <span class="hint">[optional: "</span><strong>I have no trouble on</strong><span class="hint">" [ describe a similar site that works for you]</span>.</p>
      <p><strong>Here is some information to help you diagnose and fix the problem. I use a</strong> <span class="hint">[your computer  operating system]</span><br>
        <strong>with the</strong> <span class="hint">[name and version of your browser]</span>.<br>
        <strong>I also use</strong> <span class="hint">[describe any assistive technology you use, or settings you changed – if this is relevant]</span>.</p>
      <p><strong>To learn about web accessibility please see "Accessibility – W3C" at https://www.w3.org/standards/webdesign/accessibility.html</strong> <span class="hint">[optional:  include <a href="#pointers">other references</a>]</span></p>
      <p><strong>I look forward to your fixing accessibility barriers on your website. Please contact me </strong><span class="add">[at the phone number or email address below]</span><strong> if I can be of further assistance.</strong></p>
      <p><strong>Sincerely,</strong> <br>
        <span class="hint">[your name and contact information]</span></p>
    </div>
  </div>
  <h3 id="email1">Sample Email 1</h3>
  <div class="example-sheet">
    <div class="example-sheet-inner">
      <p><strong>Subject:</strong> Problem with Citylights' ticket page</p>
      <p>Dear Citylights Marketing Manager,</p>
      <p>I  have encountered some accessibility barriers on your website.</p>
      <p>I recently visited your ticket offers page (http://www.cl.example.com/tickets/mank.html) looking for  tickets for Thelonius Mank. I couldn't use the page because the gray text on the black background is too hard to read. </p>
      <p>You can get  information about web accessibility  from the web page <br>
        https://www.w3.org/standards/webdesign/accessibility.html</p>
      <p>As I am a CityLights' events fan, I would appreciate your attention to this problem – please let me know when it's fixed. If you would like me to supply any further information, please email me.</p>
      <p>Regards, Maria</p>
    </div>
  </div>
  <h3 id="email2">Sample Email 2</h3>
  <div  class="example-sheet">
    <div class="example-sheet-inner">
      <p><strong>Subject:</strong> Accessibility of Citylights' news page</p>
      <p>Hello Citylights Director,</p>
      <p>Your news page (http://www.cl.example.com/news/news.html) is not accessible. I listen to web pages with the NVDA screen reader (version 2017.2). I use Windows 10 and Internet Explorer 11.</p>
      <p>My colleague told me that you had some heat wave information so I went to the news page, however there was something strange going on. I found a sentence about the heat wave and temperatures, but then there was something about the violin case man. Much of the page seemed mixed up and was confusing for me to listen to – it appears it was not written in a linear fashion so that someone like me using a screen reader can  understand it. </p>
      <p>Also, your news page doesn't have any headings.  Headings are important because I use them to get an overview of the page and to help me navigate to the stories.</p>
      <p>Please check out this web accessibility information from the W3C:</p>
      <ul>
        <li>Accessibility – W3C<br>
          https://www.w3.org/standards/webdesign/accessibility.html</li>
        <li>Introduction to Web Accessibility<br>
          https://www.w3.org/WAI/intro/accessibility.php</li>
        <li>Developing a Web Accessibility Business Case for Your Organization <br>
          https://www.w3.org/WAI/bcase/Overview.html</li>
        <li>How People with Disabilities Use the Web<br>
          https://www.w3.org/WAI/intro/people-use-web.html</li>
        <li>Web Content Accessibility Guidelines (WCAG) Overview<br>
          https://www.w3.org/WAI/intro/wcag.php</li>
      </ul>
      <p>Please let me know when these problems are addressed.</p>
      <p>Thank you for your attention. Noriyuki</p>
    </div>
  </div>
  <h3 id="email3">Sample Email 3</h3>
  <div class="example-sheet">
    <div class="example-sheet-inner">
      <p><strong>Subject:</strong> Problem accessing  Citylights' surveys</p>
      <p>Hi Citylights,</p>
      <p>Love your stories, but not your surveys! I can't use a mouse very much because my arms don’t work well. Usually I  tab around web pages. Anyway, on your survey page I was only able to get to the question about how many cars we have when I tabbed around. When I did try using the mouse to answer the 'where do I live' question, I couldn't click on the words like I can on many other sites' forms, I had to click the little circle before the words.</p>
      <p>In case it helps you diagnose and fix the problem: I have a Win10 laptop and use Chrome browser Version 60.0.3112.78.</p>
      <p>To learn more about these and other accessibility issues, check out www.w3.org/standards/webdesign/accessibility.html</p>
      <p>By the way, making your site accessible will benefit Citylights too, see Developing a Web Accessibility Business Case for Your Organization
        (www.w3.org/WAI/bcase/Overview.html). </p>
      <p>Please tell me when you've fixed these problems. Happy to help you further. You can ring me at 12-345-6789.</p>
      <p>Best,<br>
        Jasmine</p>
      <p>[CC: Spinal Cord Injury Association]</p>
    </div>
  </div>
  <a class="button button-backtotop" href="#top"><span><svg aria-hidden="true" class="icon-arrow-up "><use xlink:href="/wai-website/assets/images/icons.svg#icon-arrow-up"></use></svg> Back to Top</span></a>
</main>
<!-- end main -->