.box {
  border: solid 1px var(--line-grey);
  margin-top: 16px;
  background-color: var(--pure-white);
}

.box + .box#toc {
  margin-top: 0;
  border-top: 0;
}

.box.box-space-above {
  margin-top: 90px;
}

.box-h {
  padding: 8px 16px;
  color: var(--wai-green);
  font-weight: bold;
  background-color: var(--off-white);
  & h1, & h2, & h3, & h4, & h5, & h6 {
    border: none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    display: inline-block;
    @supports (all: unset) {
      all: unset;
    }
  }
}

.box-h-large {
  font-size: 1.25rem;
  color: var(--w3c-blue);
  padding-bottom: 7px;
  font-weight: normal;
  border-bottom: solid 1px var(--line-grey);
}

.box-h-icon {
  & svg {
    margin-right: 4px;
  }
}

.box-i {
  @apply --clear;
  padding: 8px 16px;
  font-size: 14/16 * 1rem;
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.box.box-list {
  & .box-i {
    & ul, & ol {
      margin:0;
      padding: 0;
      list-style: none;
    }
  }
}

.box.box-linklist {
  & .box-i {
    padding: 0;
  }
}

.box.box-simple {
  & .box-i {
    padding: 2px 8px 8px;
  }
  & .box-h-simple {
    padding: 8px 8px 2px;
    background-color: transparent;
    font-size: .875rem;
    line-height: 1.57;
  }
}

.box.box-simple.box-aside .box-i {
  font-size: .875rem;
}

@media (--medium) {
  .box {
    &.box-left, &.box-right { width: 25%; }
    &.box-left {
      clear: left;
      float: left;
      margin-right: 1em;
    }
    &.box-right {
      clear: right;
      float: right;
      margin-left: 1em;
    }
  }
}
