<aside class="box{% for mod in mods %} box-{{ mod }}{% endfor %}">
  {%render '@box-header', type=headertype, label=headerlabel, mods=headermods, icon=headericon %}
  <div class="box-i">
    {%- if content == "linklist" -%}
    {%- render '@list-links' -%}
    {%- elseif content == "listwithlinks" -%}
    {%- render '@list-unordered-with-link' -%}
    {%- elseif content == "help-box-content" -%}
    {%- render '@box-help-content' -%}
    {%- else -%}
    {{content}}
    {%- endif -%}
  </div>
</aside>