{% render '@warning'                          %}
{% render '@header'                           %}
{% render '@teaser-making-web-accessible'     %}
{% render '@teaser-news'                      %}
{#
{% render '@teaser-featured-w-background-img' %}
{% render '@teaser-callout-and-tip-of-day'    %}
{% render '@teaser-media'                     %}
{% render '@teaser-four-teasers'              %}
{% render '@news-overview'                    %}
#}
{% render '@teaser-sponsors'                  %}
{% render '@footer-site'                      %}
