@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-regular.woff2') format('woff2'),
       url('../fonts/notosans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-italic.woff2') format('woff2'),
       url('../fonts/notosans-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bold.woff2') format('woff2'),
       url('../fonts/notosans-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/notosans-bolditalic.woff2') format('woff2'),
       url('../fonts/notosans-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

html {
  background-color: #f2f2f2;
}

body {
  font-family: "Noto Sans", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-size: 1rem;
  background-color: #FAFAFC;
  color: #1d1d1d;
  padding: 0;
  margin: 0 auto;
  max-width: 1250px
}

@supports (display: grid) {

  body {
    max-width: none;
    margin: 0;
  }
  }

code {
  font-size: 1em;
  font-family: 'Tchig Mono', monospace;
}

a {
  color: #003366
}

a:hover,
a:focus {
  color: #005A6A;
}

a:visited {
  color: #660066;
}

a.stealthy-link {
  text-decoration: none;
}

a.stealthy-link:hover,
a.stealthy-link:focus {
  color: inherit;
}

a.stealthy-link:visited {
  color: inherit;
}

.default-container, .default-grid {
  padding: 0 32px
}

@media (min-width: 35em) {

  .default-container, .default-grid {
    padding: 0;
  }
  }

.default-grid {
}

@media  (min-width: 60em) {

  .default-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: grid;
    grid-column-gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: [complete-start] minmax(16px, 1fr) [navigation-start] repeat(2, minmax(0, 130px)) [navigation-end content-start] repeat(6, minmax(0, 130px)) [content-end] minmax(16px, 1fr) [complete-end];
  }

  @supports (display: grid) {

    .default-grid {
      padding: 0;
      max-width: none;
    }
  }

  .default-grid .inner {
    grid-column-start: navigation-start;
    grid-column-end: content-end;
  }
  }

.grid-4 {
}

@media  (min-width: 60em) {

  .grid-4 {
    grid-template-columns: repeat(4, minmax(0, 120px));
    grid-column-gap: 32px;
  }
  }

.grid-6 {
}

@media  (min-width: 60em) {

  .grid-6 {
    grid-template-columns: repeat(6, minmax(0, 120px));
    grid-column-gap: 32px;
  }
  }

.grid-three-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end]
}

@supports (display: grid) {

  .grid-three-five {
    padding: 0;
    max-width: none;
  }
}

@media (min-width: 35em) {

  .grid-three-five {
    grid-template-columns: [complete-start] minmax(16px, 1fr) [three-start] repeat(3, minmax(0, 130px)) [three-end five-start] repeat(5, minmax(0, 130px)) [five-end] minmax(16px, 1fr) [complete-end];
  }
}

.grid-three-five .col1, .grid-three-five .col2 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.grid-three-five .col1 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  grid-column-start: three-start;
  grid-column-end: three-end;
  margin-right: 32px;
}

.grid-three-five .col2 {
  -ms-flex-preferred-size: 61%;
      flex-basis: 61%;
  grid-column-start: five-start;
  grid-column-end: five-end;
}

.grid-three-five .col12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  grid-column-start: three-start;
  grid-column-end: five-end;
}

.grid-five-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-columns: [complete-start] 0 [three-start five-start] 1fr [three-end five-end] 0 [complete-end]
}

@supports (display: grid) {

  .grid-five-three {
    padding: 0;
    max-width: none;
  }
}

@media (min-width: 35em) {

  .grid-five-three {
    grid-template-columns: [complete-start] minmax(16px, 1fr) [five-start] repeat(5, minmax(0, 130px)) [five-end three-start] repeat(3, minmax(0, 130px)) [three-end] minmax(16px, 1fr) [complete-end];
  }
}

.grid-five-three .col1, .grid-five-three .col2 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.grid-five-three .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 62%;
          flex: 1 1 62%;
  grid-column-start: five-start;
  grid-column-end: five-end;
  margin-right: 32px;
}

.grid-five-three .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37%;
          flex: 1 1 37%;
  grid-column-start: three-start;
  grid-column-end: three-end;
}

.grid-five-three .col12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  grid-column-start: five-start;
  grid-column-end: three-end;
}

.grid-4q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end]
}

@supports (display: grid) {

  .grid-4q {
    padding: 0;
    max-width: none;
  }
}

@media  (min-width: 60em) {

  .grid-4q {
    grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 130px)) [q1-end q2-start] repeat(2, minmax(0, 130px)) [q2-end q3-start] repeat(2, minmax(0, 130px)) [q3-end q4-start] repeat(2, minmax(0, 130px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
  }
}

.grid-4q.nogap {
  grid-template-columns: [complete-start] 0 [q1-start q2-start q3-start q4-start] 1fr [q1-end q2-end q3-end q4-end] 0 [complete-end];
  grid-column-gap: 0;
}

@media  (min-width: 60em) {

  .grid-4q.nogap {
    grid-template-columns: [complete-start] minmax(16px, 1fr) [content-start q1-start] repeat(2, minmax(0, 158px)) [q1-end q2-start] repeat(2, minmax(0, 158px)) [q2-end q3-start] repeat(2, minmax(0, 158px)) [q3-end q4-start] repeat(2, minmax(0, 158px)) [q4-end content-end] minmax(16px, 1fr) [complete-end];
  }
}

.grid-4q .q1-start {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 32px;
  grid-column-start: q1-start;
}

.grid-4q .q2-start {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 32px;
  grid-column-start: q2-start;
}

.grid-4q .q3-start {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 32px;
  grid-column-start: q3-start;
}

.grid-4q .q4-start {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 32px;
  grid-column-start: q4-start;
}

.grid-4q .q1-end {
  grid-column-end: q1-end;
}

.grid-4q .q2-end {
  grid-column-end: q2-end;
}

.grid-4q .q3-end {
  grid-column-end: q3-end;
}

.grid-4q .q4-end {
  grid-column-end: q4-end;
  margin-right: 0;
}

.grid-4q .q1-start.q2-end,
  .grid-4q .q2-start.q3-end,
  .grid-4q .q3-start.q4-end {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grid-4q .q1-start.q3-end,
  .grid-4q .q2-start.q4-end {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.grid-4q.nogap {
}

.grid-4q.nogap .q1-start,
    .grid-4q.nogap .q2-start,
    .grid-4q.nogap .q3-start,
    .grid-4q.nogap .q4-start {
  margin-right: 0;
}

@supports(display: grid) {

  .grid-4q {
}

  .grid-4q .q1-start,
    .grid-4q .q2-start,
    .grid-4q .q3-start,
    .grid-4q .q4-start {
    margin-right: 0;
  }
  }

.leftcol {
}

.leftcol article {
  grid-area: content;
}

.grid-line-right {
}

@media (min-width: 35em) {

  .grid-line-right {
    border-right: 1px solid #ddd;
    margin-right: -17px;
    padding-right: 17px;
  }
  }

.grid-line-left {
}

@media (min-width: 35em) {

  .grid-line-left {
    border-left: 1px solid #ddd;
    margin-left: -16px;
    padding-left: 16px;
  }
  }

.media-wrapper {
  position: relative;
  padding-top: 56.25%
}

.media-wrapper iframe, .media-wrapper video, .media-wrapper .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button, .button {
  border-radius: 5px;
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 12px;
  border: 2px solid #005A6A;;
  font-size: 13px;;
  font-size: .8125rem;
  line-height: 1.4;
  color: #ffffff;
  background-color: #005A6A;
  text-decoration: none;
  font-weight: bold
}

button.button-nobg, .button.button-nobg {
  background: transparent;
}

button.button-nobg:hover,
button.button-nobg:focus,
.button.button-nobg:hover,
.button.button-nobg:focus {
  background-color: transparent;
  border-color: #fff;
}

button.button-noborder, .button.button-noborder {
  border-color: transparent;
}

button.button-noborder:hover,
button.button-noborder:focus,
.button.button-noborder:hover,
.button.button-noborder:focus {
  border-color: #fff;
}

.stealthy-link:hover,
.stealthy-link:focus {
}

.stealthy-link:hover span.button,
.stealthy-link:focus span.button {
  background-color: #003366;
  color: #ffffff;
}

button, a.button {
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  border-color: #003366;
  background-color: #003366;
  color: #ffffff;
}

button:disabled, a.button:disabled {
  opacity: .75;
}

.button-secondary {
  background-color: #ffffff;
  color: #005A6A;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px
}

.button-group button, .button-group .button {
  min-width: 7em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 8px;
}

table, caption {
  text-align: left;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 2em;
}

caption {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  color: #005A6A;
  line-height: 1.4;
  margin-bottom: 8px;
}

th, td {
  padding: 12px 18px;
  border: 1px solid #ddd;
  vertical-align: top;
}

th {
  font-weight: bold;
  color: #ffffff;
  background-color: #005A6A;
}

th, td {
}

th > :first-child, td > :first-child {
  margin-top: 0;
}

th > :last-child, td > :last-child {
  margin-top: 0;
}

.box {
  border: solid 1px #ddd;
  margin-bottom: 16px;
  background-color: #ffffff;
}

.box-h {
  padding: 8px 16px;
  color: #005A6A;
  font-weight: bold;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.57;
  background-color: #f2f2f2
}

.box-h h1, .box-h h2, .box-h h3, .box-h h4, .box-h h5, .box-h h6 {
  all: unset;
}

.box-h-large {
  font-size: 20px;
  font-size: 1.25rem;
  color: #003366;
  padding-bottom: 7px;
  font-weight: normal;
  border-bottom: solid 1px #ddd;
}

.box-h-icon {
}

.box-h-icon svg {
  margin-right: 4px;
}

.box-i {
  padding: 8px 16px;
  font-size: 14/16 * 16px;
  font-size: 14/16 * 1rem
}

.box-i > :first-child {
  margin-top: 0;
}

.box-i > :last-child {
  margin-bottom: 0;
}

.box.box-list {
}

.box.box-list .box-i {
}

.box.box-list .box-i ul, .box.box-list .box-i ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box.box-linklist {
}

.box.box-linklist .box-i {
  padding: 0;
}

.box.box-simple {
}

.box.box-simple .box-i {
  padding: 2px 8px 8px;
}

.box.box-simple .box-h-simple {
  padding: 8px 8px 2px;
  background-color: transparent;
}

.breadcrumb {
  font-size: 13px;
  font-size: .8125rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
  margin-bottom: 32px
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  grid-column: 2/7;
}

.breadcrumb ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.breadcrumb ul li:after {
  content: " / ";
  color: #005A6A;
}

.breadcrumb ul li:last-child:after {
  content: "";
  display: none;
}

.breadcrumb a {
  color: #003366;
}

.breadcrumb [aria-current=page] {
  font-weight: bold;
  text-decoration: none;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(6, minmax(0, 120px));
  grid-column-gap: 32px;
  & > .ref-side, > & .demo-side, > & .aside {
    grid-column: 5/7;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.2
  }
  & > .ref-side p:first-of-type, > & .demo-side p:first-of-type, > & .aside p:first-of-type {
    margin-top: 0;
  }
}

.content > * {
  grid-column: 1/5;
  grid-auto-flow: dense;
}

.content.wide {
  grid-template-columns: repeat(8, minmax(0, 120px));
  grid-column-start: navigation;
  grid-column-end: content;
}

.content.wide > * {
  grid-column: 3/9;
}

.content.wide .sn-contents {
  grid-column: 1/3;
  grid-row: 1/99;
}

.example-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-columns: repeat(6, minmax(0, 130px))
}

@supports (display: grid) {

  .example-bar {
    padding: 0;
    max-width: none;
  }
}

.example-bar > * {
  grid-column: 2/7;
}

.example-bar .eg {
  grid-column: 1/2;
  grid-row: 1/99;
  text-align: right;
  border-right: 2px solid #005A6A;
  padding: 0 8px;
  font-weight: bold;
  font-style: italic;
  color: #005A6A;
}

.example-sheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-column-gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  grid-template-columns: repeat(6, minmax(0, 130px))
}

@supports (display: grid) {

  .example-sheet {
    padding: 0;
    max-width: none;
  }
}

.example-sheet .example-sheet-inner {
  grid-column: 2/6;
  background-color: #ffffff;
  padding: 16px 32px;
}

.page-footer, .site-footer {
  font-size: 12px;
  font-size: .75rem;
  padding-top: 16px;
  padding-bottom: 16px
}

.page-footer p:first-of-type, .site-footer p:first-of-type {
  margin-top: 0;
}

.page-footer p:last-of-type, .site-footer p:last-of-type {
  margin-bottom: 0;
}

.page-footer {
  margin-top: 32px;
  background-color: #efefef;
}

.site-footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #3b3b3b;
  color: #ffffff
}

.site-footer a {
  color: #ffffff;
}

.site-footer a.largelink {
  color: #eed009;
  font-size: 20px;
  font-size: 1.25rem;
  text-decoration: none;
}

.site-footer a.largelink:hover, .site-footer a.largelink:focus {
  text-decoration: underline;
}

.site-footer .footer-list-header {
  font-weight: bold;
  border-bottom: 1px solid rgba(221, 221, 221, .32);
  padding: 4px 0;
}

.site-footer ul {
  margin: 0;
  padding: 0;
}

.site-footer ul li {
  list-style:none;
  padding: 4px 0;
}

#site-header {
  background-color: #003366;
  color: #fff
}

@supports (display: grid) {

  #site-header {
    padding-left: 8px;
    padding-right: 8px;
  }
  }

#site-header a {
  color: #fff;
}

.wai {
  line-height: 1.2
}

@media (min-width: 35em) {

  .wai {
    vertical-align: middle;
    display: block;
    font-size: 1.5625rem;
  }
  }

.logos {
  padding: 16px 0;
  grid-area: navigation;
  grid-row-start: 1;
  margin-right: 32px
}

@supports (display: grid) {

  .logos {
    margin-right: 0;
  }
  }

.logos img {
  vertical-align: middle;
  padding-right: 8px;
  margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 40px 0 20px;
}

h1 {
  font-size: 38px;
  font-size: 2.375rem;
  color: #005A6A;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0;
}

h2 {
  font-size: 22px;
  font-size: 1.375rem;
  color: #005A6A;
  line-height: 1.2;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

h3, h4 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #005A6A;
  line-height: 1.4;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: bold;
  line-height: 1.6;
}

h6 {
  font-size: 14px;
  font-size:.875rem;
  line-height: 1.8;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

ul ::marker {
  color: #c0272d;
}

ul li, ol li {
  margin-bottom: 8px;
}

.linklist {
}

.linklist, .linklist li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linklist a {
  display: block;
  padding: 4px 16px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

.linklist a svg {
  height: .65em;
}

.linklist a:hover, .linklist a:focus {
}

.linklist a:hover svg, .linklist a:focus svg {
  color: #c0272d;
}

.linklist a:hover .visual-a, .linklist a:focus .visual-a {
  text-decoration: underline;
}

.linklist li:last-child a {
  border-bottom: none;
}

.nolist {
  margin: 0;
  padding: 0
}

.nolist li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p+ul, p+ol {
  margin-top: -8px;
}

/*.columns {
  padding: 0;
  & > * {
    margin-left: 32px;
  }
}

.two.columns {
  @media (--medium) {
    columns: 2 500px;
    column-gap: 32px;
  }
}

.four.columns {
  padding: 0 8px;
  @media (--medium) {
    columns: 2 500px;
    column-gap: 32px;
  }
  @media (--large) {
    columns-count: 4 300px;
    column-gap: 32px;
  }
}*/

.info {
  background-color: #eed009;
  background-image: linear-gradient(to bottom, #eed009, rgb(217, 189, 10));
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: bottom;
  font-weight: bold;
  text-align: center
}

.info svg {
  margin-right: 8px;
  font-size: 2em;
  vertical-align: middle;
  margin-top: -.14em;
}

.navigations {
  position: relative;
  grid-column: content;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  grid-template-rows: min-content minmax(10px, 1fr) min-content
}

@media (min-width: 35em) {

  .navigations {
    border: 1px solid rgba(255, 255, 255, .11);
    border-style: none solid;
    padding: 16px 0 0;
  }
  }

.navigations .nava11y {
  display: block;
}

.mainnav, .metanav, #controls {
}

.mainnav ul, .metanav ul, #controls ul {
  margin: 0;
  padding: 0;
}

.mainnav ul > li, .metanav ul > li, #controls ul > li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

#controls {
  background-color: #f2f2f2;
  text-align: right;
  font-size: .8125em;
  padding-left: 8px;
  padding-right: 8px
}

#controls ul {
  padding: 8px;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media  (min-width: 23em) {

  #controls ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#controls a {
  color: #003366;
  text-decoration: none;
}

@media  (min-width: 23em) {

  #controls a {
    margin-left: 16px;
  }
}

#controls a:hover, #controls a:focus {
  border-bottom: none;
  text-decoration: underline;
}

#controls a svg {
  width: .8em;
  height: .8em;
}

.metanav, .mainnav {
}

.metanav {
  text-transform: uppercase;
  font-size: 12px;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, .11);
  text-align: right;
  width: 100%
}

@media (min-width: 35em) {

  .metanav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  }

.metanav a {
  text-decoration: none;
}

.metanav a:hover, .metanav a:focus, .metanav a[aria-current="page"] {
  border-bottom: 2px solid #eed009;
}

.metanav > ul {
  width: 100%;
}

@media (min-width: 35em) {

  .metanav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.metanav > ul li {
  display: inline;
  margin-bottom: 8px;
}

@media (min-width: 35em) {

  .metanav > ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 8px;
  }
}

.metanav > ul li:first-child {
  margin-right: 16px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.metanav > ul li:last-child {
  min-width: 300px;
}

.metanav > ul li a {
}

@media (min-width: 35em) {

  .metanav > ul li a {
    display: block;
    width: 100%;
    text-align: right;
  }
}

.metanav form[role=search] {
  background-color: rgba(6, 30, 54, .44);
}

.metanav form[role=search] > div {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.metanav form[role=search] label {
  text-transform: none;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.metanav form[role=search] label .l {
  display: block;
  padding: 8px 4px 8px 12px;
}

.metanav form[role=search] input {
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  height: 100%;
  padding: 8px 0;
  margin: 0;
  min-width: 100px;
}

.metanav form[role=search] input::-webkit-search-cancel-button,
      .metanav form[role=search] input::-webkit-search-results-button {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.metanav form[role=search] button {
  display: block;
  margin: 0;
}

.metanav form[role=search] ::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
  opacity: 1;
}

.metanav form[role=search] :-moz-placeholder {

  /* Firefox 18- */
  color: #ffffff;
  font-style: italic;
  opacity: 1;
}

.metanav form[role=search] ::-moz-placeholder {

  /* Firefox 19+ */
  color: #ffffff;
  font-style: italic;
  opacity: 1;
}

.metanav form[role=search] :-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  opacity: 1;
}

.mainnav {
  position: relative;
  font-size: .875em
}

@media (min-width: 35em) {

  .mainnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 1px;
    grid-row-start: 2;
  }
  }

.mainnav > ul {
  width: 100%;
}

@media (min-width: 35em) {

  .mainnav > ul {
    margin: 0 -8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  @supports (display: grid) {

    .mainnav > ul {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 130px));
      grid-column-gap: 32px;
      margin: 0;
    }
  }
}

.mainnav > ul > li {
  display: block;
}

@media (min-width: 35em) {

  .mainnav > ul > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 16px;
    position: relative;
  }
}

.mainnav > ul > li > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 16px;
}

@supports (display: grid) {

  .mainnav > ul > li > a {
    padding: 8px 0;
  }
}

.mainnav > ul > li > a br {
  display: none;
}

@media (min-width: 35em) {

  .mainnav > ul > li > a br {
    display: block;
  }
}

.mainnav > ul > li > a > span {
  display: block;
  border-bottom: 2px solid transparent;

  /* var(--trans-line-grey);*/
}

.mainnav > ul > li > a:hover,
.mainnav > ul > li > a:focus,
.mainnav > ul > li > a[aria-current="page"] {
}

.mainnav > ul > li > a:hover > span,
.mainnav > ul > li > a:focus > span,
.mainnav > ul > li > a[aria-current="page"] > span {
  border-bottom: 2px solid #eed009;
}

.mainnav .subnav {
  display: none;
  background-color: #003366;
  padding: 0 0 16px;
}

@media (min-width: 35em) {

  .mainnav .subnav {
    padding-top: 16px;
    position: absolute;
    left: -16px;
    width: 20em;
  }
}

.mainnav .subnav > li, .mainnav .subnav > li li {
  position: relative;
  display: block !important;
  margin-bottom: 0;
}

.mainnav .subnav > li:hover, .mainnav .subnav > li li:hover {
  background-color: #091832;
}

.mainnav .subnav > li:last-child, .mainnav .subnav > li li:last-child {
  border-bottom: none;
}

.mainnav .subnav > li > a, .mainnav .subnav > li li > a {

  /*grid-column: 1/2;*/
}

.mainnav .subnav > li:last-child a::after, .mainnav .subnav > li:last-child span::after, .mainnav .subnav > li li:last-child a::after, .mainnav .subnav > li li:last-child span::after {
  display: none;
}

.mainnav .subnav > li a, .mainnav .subnav > li li a {
  display: block;
  text-decoration: none;
  position: relative;
  margin-bottom: -1px;
}

.mainnav .subnav > li a:hover,
.mainnav .subnav > li a:focus,
.mainnav .subnav > li li a:hover,
.mainnav .subnav > li li a:focus {
  color: #eed009 !important;
  background-color: #091832;
  z-index: 5;
}

.mainnav .subnav > li a:hover span,
.mainnav .subnav > li a:focus span,
.mainnav .subnav > li li a:hover span,
.mainnav .subnav > li li a:focus span {
  border-color: #091832;
}

.mainnav .subnav > li a:hover::before,
.mainnav .subnav > li a:focus::before,
.mainnav .subnav > li li a:hover::before,
.mainnav .subnav > li li a:focus::before {
  content: "•";
  color: #ffffff;
  left: 16px;
  height: 1em;
  line-height: 1;
  top: 50%;
  margin-top: -.5em;
  position: absolute;
}

.mainnav .subnav > li span, .mainnav .subnav > li li span {
  display: block;
  border: 1px solid rgba(221, 221, 221, .32);
  border-width: 1px 0;
  margin: 0 16px 0;
  padding: 8px 16px;
}

.mainnav .subnav > li svg, .mainnav .subnav > li li svg {
  float: right;
  width: .7em;
  height: .7em;
  right: 16px;
  top: 50%;
  margin-top: -.35em;
  position: absolute;
}

.mainnav .subnav .subsubnav {
  display: none;
  background-color: #091832;
  padding: 0 0 16px;
}

@media (min-width: 35em) {

  .mainnav .subnav .subsubnav {
    padding-top: 16px;
    position: absolute;
    width: 20em;
    left: 100%;
    top: 0;
  }
}

.mainnav .subnav .subsubnav a:hover > span,
.mainnav .subnav .subsubnav a:focus > span {
  border-color: rgba(221, 221, 221, .32);
}

.mainnav .subnav li:hover .subsubnav,
.mainnav .subnav li:focus .subsubnav {
  display: block;
}

.mainnav li:hover .subnav,
.mainnav li:focus .subnav {
  display: block;
}

.mainnav.alternative {
}

.mainnav.alternative .subnav {
  padding: 16px;
  -webkit-columns: 2;
          columns: 2;
  width: 30em;
}

.mainnav.alternative .subnav a, .mainnav.alternative .subnav strong {
  display: block;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainnav.alternative .subnav .has-sub {
  page-break-inside: avoid;
}

.mainnav.alternative .subnav .subsubnav {
  margin-left: 1em;
  width: auto;

  /*grid-column: 2/3;*/
  display: block;
  position: static;
  left: auto;
  left: initial;
  top: auto;
  top: initial;
  background-color: #003366;
  border: 2px solid #003366;
  page-break-inside: avoid;
  padding: 0 !important;
}

.mainnav.alternative .subnav .subsubnav a {
  font-weight: normal;
}

.mainsub {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 100%;
  left:16px;
  right: 16px
}

.mainsub b {
  display: block;
}

.mainsub>ul {
  background-color: #003366;
  padding: 4px 8px;
  list-style: none;
  margin: 0;
  display: none;
  -webkit-columns: 2;
          columns: 2;
  font-size: 14px;
  font-size: .875rem;
}

.mainsub>ul ul {
  padding: 0 0 0 16px;
  margin-bottom: 16px;
  list-style: none;
  border-left: 2px solid #344D72;

  /* TODO: DEFINE COLOR*/
}

.mainsub>ul ul a {
  color: #f2f2f2 !important;
  text-decoration: none;
}

.mainsub>ul ul a:hover, .mainsub>ul ul a:focus {
  text-decoration: underline;
}

.mainsub>ul ul > li {
  padding-bottom: 8px;
}

.mainsub>ul > li {
  page-break-inside: avoid;
}

.mainsub>ul.active {
  display: block;
}

.mainsub>ul:nth-child(1) {
  grid-column: 1/4;
}

.mainsub>ul:nth-child(2) {
  grid-column: 2/5;
}

.mainsub>ul:nth-child(3) {
  grid-column: 1/4;
}

.mainsub>ul:nth-child(4) {
  grid-column: 2/5;
}

.teaser.news {
  background-color: #ffffff;
}

.news-teaser {
  margin-bottom: 60px;
}

.announcements-list {
  margin-bottom: 60px;
}

.announce-box {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 10px 25px !important
}

.announce-box+.announce-box {
  border-top-width: 0;
}

.announce-box>:first-child {
  margin-top: 0;
}

.announce-box>:last-child {
  margin-bottom: 0;
}

.pager {
  background-color: #ffffff;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.pager > ul {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 18px;
}

.pager--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  list-style: none;
}

.pager--item a:link {
  color: #005A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-decoration: none;
}

.pager--item a:visited {
  color: #660066;
}

.pager--item a:hover,
.pager--item a:focus {
  color: #003366;
}

.pager--item a:active {
  color: #005A6A;
}

.pager--item:last-child a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.pager--item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 33px;
}

.pager--item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pager--item-text {
  margin-right: 16px;
  margin-left: 16px;
}

.pager--item-text-direction {
  color: #1d1d1d;
  font-size: 13px;
}

.pager--item-text-target {
  font-size: 17px;
  line-height: 1em;
}

.quote {
  background-color: #005A6A;
  border-radius: 5px;
  color: #ffffff;
  padding: 22px;
}

.quote--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.quote--block-text {
  font-size: 20px;
  font-style: italic;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

.quote--block-text::before {
  content: open-quote;
}

.quote--block-text::after {
  content: close-quote;
}

.quote--block-cite {
  font-size: 15px;
  font-weight: 500;
  margin: 9px 0 0 0;
}

.quote--block-cite a {
  color: #FAFAFC;
}

.related-content {
  background-color: #ffffff;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
}

.related-content--head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 48px;
}

.related-content--head-icon {
  height: 22px;
  margin-right: 10px;
  margin-left: 19px;
  width: 22px;
}

.related-content--head-heading {
  border: none;
  color: #003366;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.related-content--content {
  margin: 0;
  padding: 0;
}

.related-content--content-list {
  list-style: none;
  margin: 22px;
  padding: 0;
}

.related-content--content-list li {
  font-size: 14px;
  line-height: 2.2em;
}

.sidenav {
  grid-area: navigation;
}

.sidenav--head {
  background-color: #f2f2f2;
  padding: 8px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid #ddd;
  border-bottom: none;
}

.sidenav--head-icon {
  padding-bottom: .3em;
}

.sidenav--head-icon--inner {
  width: 47px;
  height: 48px;
  float: left;
  margin-right: 8px;
}

.sidenav--head-section {
  color: #005A6A;
  text-transform: uppercase;
  letter-spacing: .7px;
  font-size: 11px;
  font-size: .6875rem;
  font-weight: bold;
}

.sidenav--head-subsection {
  color: #005A6A;
  font-size: 22px;
  font-size: 1.375rem;
}

.sidenav--list {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  background-color: #fff;
  margin: 0;
  padding:0;
  font-size: 13px;
  font-size: .8125rem;
  .sidenav-head + & {
    border-top: none;
  }
}

.sidenav--list a {
  display: block;
  padding: 16px 24px;
  color: #1d1d1d;
  text-decoration: none;
}

.sidenav--list>li>a {
  border-top: 1px solid #ddd;
}

.sidenav--list ul {
  padding: 0;
  margin: 0;
  padding-left: 24px;
}

.sidenav--list a + ul {
  display: none;
}

.sidenav--list a[aria-current] + ul {
  display: block;
}

.sidenav--list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidenav--list ul li a {
  border-bottom: none;
  padding: 4px 4px 4px 16px;
}

.sidenav--list a[aria-current] {
  color: #005A6A;
  padding-bottom: 4px;
}

.sidenav--list a[aria-current=page] {
  font-weight: bold;
}

.teaser {
  padding-top: 32px;
  padding-bottom: 32px;
}

.teaser.featured {
  background-size: cover;
  background-position: center
}

.teaser.featured .teaser-c {
  background-color: rgba(255, 255, 255, .9);
  border-top: 5px solid #c0272d;
  padding: 16px 32px;
  display: block;
}

.teaser-h {
}

.teaser-h h2, .teaser-h h3, .teaser-h h4, .teaser-h h5, .teaser-h h6 {
  margin: 16px 0;
  padding: 0;
  border: none;
  color: #005A6A;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
}

.teaser-h h2.title, .teaser-h h3.title, .teaser-h h4.title, .teaser-h h5.title, .teaser-h h6.title {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 10px 0 20px;
}

@media (min-width: 35em) {

  .teaser-h h2.title, .teaser-h h3.title, .teaser-h h4.title, .teaser-h h5.title, .teaser-h h6.title {
    font-size: 2rem;
  }
}

@media  (min-width: 60em) {

  .teaser-h h2.title, .teaser-h h3.title, .teaser-h h4.title, .teaser-h h5.title, .teaser-h h6.title {
    font-size: 2.375rem;
  }
}

.teaser-h p {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
}

.teaser-h-icon {
  height:1em;
  width: 1em;
  vertical-align: middle;
  margin-right: 10px
}

.teaser-h-icon.full {
  display: block;
  height: 1.8em;
  width: 1.8em;
}

.teaser-tip {
  text-align: center
}

.teaser-tip .teaser-h h2 {
  font-size: 28px;
  font-size: 1.75rem;
}

.teaser-tip .teaser-h svg {
  display: block;
  margin: 0 auto;
  height: 1.75em;
  width: 1.75em;
}

.teaser-tip .fakelink {
  margin: 0 auto;
}

.fakelink {
  text-decoration: underline;
  position: relative
}

.fakelink svg {
  margin-left: 5px;
  width: .75em;
  height: .75em;
}

.teaser-about {
}

.teaser-about p {
  color: #686868;
}

@media (min-width: 35em) {

  .teaser-about p {
    font-size: 1.25rem;
  }
}

@media  (min-width: 60em) {

  .teaser-about p {
    font-size: 1.5rem;
  }
}

.teaser-about .teaser-h h2 {
  font-weight: bold;
}

.teaser-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.area-teaser {
  display: block;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin: -1px;
  padding: 20px 32px;
  display: grid;
  grid-template-rows: 1fr min-content min-content
}

@media (min-width: 35em) {

  .area-teaser {
    padding: 40px 40px;
  }
  }

@media  (min-width: 60em) {

  .area-teaser {
    padding: 60px 40px;
  }
  }

.area-teaser .teaser-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.area-teaser .teaser-h h2, .area-teaser .teaser-h h3, .area-teaser .teaser-h h4, .area-teaser .teaser-h h5, .area-teaser .teaser-h h6 {
  margin: 0;
}

.area-teaser .teaser-h-icon {
  margin-bottom: 10px;
}

.area-teaser:hover, .area-teaser:focus {
}

.area-teaser:hover .teaser-h > :not(svg), .area-teaser:focus .teaser-h > :not(svg) {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
