dl {
  margin: 16px 0;
}

dt {
  font-weight: bold;
}

.notbold dt {
  font-weight: normal;
}

dd {
  margin-inline-start: 32px;
}

dd+dt {
  margin-block-start: 8px;
}

dl.paragraph-like dd+dt {
  margin-block-start: 1em;
}