<dl>
<dt><a href="https://www.w3.org/WAI/eval/selectingtools.html">Selecting Web Accessibility Evaluation Tools</a></dt>
<dd> Provides guidance on choosing   tools. It describes the features and functionality of different types of evaluation tools, and discusses things to consider for your situation.</dd>
<dt><a href="https://www.w3.org/WAI/ER/tools/">Web Accessibility Evaluation Tools List</a> <img src="https://www.w3.org/Icons/tr.png" alt="different format"></dt>
<dd> Includes information on almost 100 tools. You can use the filters to narrow down the list to the types of tools you are interested in.</dd>
</dl>