<ul class="linklist">
  <li><a href="#">{%render '@icons', name="chevron-right", class="" %} <span class="visual-a">adaptive strategies</span></a></li>
  <li><a href="#">{%render '@icons', name="chevron-right", class="" %} <span class="visual-a">adaptive strategies</span></a></li>
  <li><a href="#">{%render '@icons', name="chevron-right", class="" %} <span class="visual-a">adaptive strategies</span></a></li>
  <li><a href="#">{%render '@icons', name="chevron-right", class="" %} <span class="visual-a">adaptive strategies</span></a></li>
  <li><a href="#">{%render '@icons', name="chevron-right", class="" %} <span class="visual-a">adaptive strategies</span></a></li>
</ul>