ul ::marker {
  color: var(--faded-red);
}

ul li, ol li {
  margin-bottom: 8px;
}

.linklist {
  &, & li {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  & a {
    display: block;
    padding: 4px 16px;
    border-bottom: 1px solid var(--line-grey);
    text-decoration: none;
    & svg {
      height: .65em;
    }
    &:hover, &:focus {
      & svg {
        color: var(--faded-red);
      }
      & .visual-a {
        text-decoration: underline;
      }
    }
  }
  & li:last-child a {
    border-bottom: none;
  }
}

.nolist {
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

p+ul, p+ol {
  margin-top: -8px;
}

/*.columns {
  padding: 0;
  & > * {
    margin-left: 32px;
  }
}

.two.columns {
  @media (--medium) {
    columns: 2 500px;
    column-gap: 32px;
  }
}

.four.columns {
  padding: 0 8px;
  @media (--medium) {
    columns: 2 500px;
    column-gap: 32px;
  }
  @media (--large) {
    columns-count: 4 300px;
    column-gap: 32px;
  }
}*/