.decision-tree {
  list-style: none;
  margin: 1em 0;
  padding:0;
  & > li {
    /*border: 2px solid #999;
    border-block-start:none;*/
    & > strong {
      display: block;
      padding: 1em .5em;
    }
    &:first-child {
      /*border-block-start:2px solid #999;*/
    }
    & > ul {
      padding:0;
      list-style: none;
      /*border-block-start: 1px dotted #aaa;*/
      @supports (display: flex) {
        display:flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: stretch;
      }
      & > li {
        text-indent: 0;
        box-sizing: border-box;
        font-weight: normal;
        @supports (display: flex) {
          flex-basis: 25%;
        }
        padding: .5em;
        // border: 1px solid #aaa;
        &:nth-child(odd) {
          @supports (display: flex) {
            flex-basis: 75%;
          }
        }
        &:nth-child(odd):last-child {
          display:block;
          flex-basis:100%;
        }
        & ul {
          padding:0;
          margin:0;
        }
        & li {
          padding: 0;
          padding-bottom: 0.5em;
          margin-block-end: 0.5em;
          border-block-end: 1px solid var(--dk-grey);
          list-style: none;
          & > em {
            display: block;
            padding-left: 1.5em;
            position: relative;
            margin-block-start: .25em;
            font-style: normal;
            &:before {
              position:absolute;
              content: '';
              top:.2em;
              margin-inline-start: -1.5em;
            }
          }
          &:last-child {
            border-bottom-style: none;
            padding-bottom: 0;
            margin-block-end: 0;
          }
        }
      }
    }
  }
  & .yes {
    background-color: color(var(--w3c-blue) lightness(95%));
    border-block-end: none;
    & li {
      list-style: disc;
      margin-inline-start: 1em;
      &:only-child {
        list-style: none;
      }
    }
  }
  & .no {
    /*border-inline-end:1px dotted #aaa;*/
    background-color: color(var(--faded-red) lightness(85%));
    border-block-end: none;
    position: relative;
    &:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: color(var(--faded-red) lightness(85%)); border-width: 1rem; margin-inline-start: -.5rem; z-index: 500; }
    /*&:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: #999; border-width: 1.1rem; margin-inline-start: -.6rem; z-index: 400; }*/
  }
}