button, .button {
  border-radius: 5px;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 2px solid var(--wai-green);;
  font-size: .8125rem;
  line-height: 1.4;
  color: var(--pure-white);
  background-color: var(--wai-green);
  text-decoration: none;
  font-weight: bold;
  &.button-nobg {
    background: transparent;
    &:--hovcus {
      background-color: transparent;
      border-color: #fff;
    }
  }
  &.button-noborder {
    border-color: transparent;
    &:--hovcus {
      border-color: #fff;
    }
  }
}

.stealthy-link:--hovcus {
  & span.button {
    background-color: var(--w3c-blue);
    color: var(--pure-white);
  }
}

button, a.button {
  &:--hovcus {
    border-color: var(--w3c-blue);
    background-color: var(--w3c-blue);
    color: var(--pure-white);
  }
  &:disabled {
    opacity: .75;
  }
}

.button-secondary {
  background-color: var(--pure-white);
  color: var(--wai-green);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  & button, & .button {
    min-width: 7em;
    flex: 1;
    text-align: center;
    margin: 8px;
  }
}