table, caption {
  text-align: left;
}
table {
  border: 1px solid var(--line-grey);
  border-collapse: collapse;
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--wai-green);
  line-height: 1.4;
  margin-bottom: 8px;
}
th, td {
  padding: 12px 18px;
  border: 1px solid var(--line-grey);
  vertical-align: top;
}
th {
  font-weight: bold;
  color: var(--pure-white);
  background-color: var(--wai-green);
}
th, td {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-top: 0;
  }
}