.page-footer, .site-footer {
  font-size: .875rem;
  padding-top: 16px;
  padding-bottom: 16px;
  & p:first-of-type {
    margin-top: 0;
  }
  & p:last-of-type {
    margin-bottom: 0;
  }
}

.page-footer {
  margin-top: 32px;
  background-color: var(--footer-grey);
  & .inner {
    grid-area: content;
  }
}

.site-footer {
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--dk-grey);
  color: var(--pure-white);
  & a {
    color: var(--pure-white);
  }
  & a.largelink {
    color: var(--gold);
    font-size: 1.25rem;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  & .footer-list-header {
    font-weight: bold;
    border-bottom: 1px solid var(--trans-line-grey);
    padding: 4px 0;
  }
  & .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.page-footer + .site-footer {
  margin-top: 0;
}

.site-footer ul {
  margin: 0;
  padding: 0;
}

.site-footer ul li {
  list-style:none;
}
