<footer class="page-footer">
  <div class="default-container">
    <p>Status: Draft updated October 2016 (first published March 2006)</p>
    <p>Editors: Shadi Abou-Zahra; previously Kevin White and Shawn Lawton Henry. Developed by the Education and Outreach Working Group. Previous contributors: Sharron Rush, Anna Belle Leiserson, and Judy Brewer. First developed with support from WAI-TIES Project, then updated with support of the WAI-ACT Project and later the WAI-DEV Project. This page was previously titled “Short Term Website Accessibility Improvements” and “Improving the Accessibility of Your Website”.</p>
  </div>
</footer>
