.pager {
  background-color: var(--pure-white);
  border: 1px solid var(--line-grey);
  margin-block-start: 32px;
}

.pager > ul {
  box-sizing: border-box;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px;
}

.pager--item {
  display: flex;
  flex: 0 1 50%;
  &:only-child {
    flex-basis: 100%;
  }
  list-style: none;
  margin:0;
}

.pager--item a:link {
  color: var(--wai-green);
  display: flex;
  flex-direction: row;
  flex: 1 100%;
  text-decoration: none;
  align-items: center;
}

.pager--item a:visited {
  color: var(--visited-link);
}

.pager--item a:hover,
.pager--item a:focus {
  color: var(--w3c-blue);
}

.pager--item a:active {
  color: var(--wai-green);
}

.pager--item.next a {
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: end;
}

.pager--item-icon {
  display: flex;
  font-size: 33px;
}

.pager--item-text {
  display: flex;
  flex: 1 auto;
  width: 100%;
  flex-direction: column;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
}

.pager--item-text-direction {
  color: var(--off-black);
  font-size: .75rem;
}

.pager--item-text-target {
  font-size: 1rem;
  line-height: 1;
}