<nav class="pager" aria-label="Tutorials Navigation">
  <ul>
    <li class="pager--item previous">
      <a href="/previous">
        <svg aria-hidden="true" class="pager--item-icon icon-arrow-left"><use xlink:href="/assets/images/icons.svg#icon-arrow-left"></use></svg>
        <span class="pager--item-text">
          <span class="pager--item-text-direction">Previous:</span>
          <span class="pager--item-text-target">Overview</span>
        </span>
      </a>
    </li>
    <li class="pager--item next">
      <a href="/next">
        <svg aria-hidden="true" class="pager--item-icon icon-arrow-right"><use xlink:href="/assets/images/icons.svg#icon-arrow-right"></use></svg>
        <span class="pager--item-text">
          <span class="pager--item-text-direction">Next:</span>
          <span class="pager--item-text-target">2. Tutorial Section 2</span>
        </span>
      </a>
    </li>
  </ul>
</nav>