#site-header {
  background-color: var(--w3c-classic);
  color: #fff;
  padding-top: 3px;
  @supports (display: grid) {
    padding-left: 8px;
    padding-right: 8px;
  }
  & a {
    color: #fff;
  }
}

.wai {
  line-height: 1.2;
  @media (--medium) {
    vertical-align: middle;
    /*display: block;*/
    font-size: 1.5625rem;
  }
}

.logos {
  padding: 16px 0;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  display: flex;
  & .claim {
    font-size: .875rem;
    font-style: italic;
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid var(--pure-white);
    color: var(--pure-white);
    flex:1;
    display: none;
    @media (--medium) {
      display: flex;
      align-items: center;
    }
  }
}

.home {
  margin-right: 32px;
  text-decoration: none;
  transition: color .5s ease-in .1s;
  display: flex;
  align-items: center;
  flex:0;
  @supports (display: grid) {
    margin-right: 0;
  }
  & img {
    vertical-align:middle;
    padding-right: 8px;
    color: inherit;
    fill: inherit;
    height: 46px
  }
  & .wai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    & .wa {
      padding-bottom: 2px;
    }
    & .i {
    border-top: 1px solid var(--gold);
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  }
  &:--hovcus {
    text-decoration: underline;
    color: var(--gold) !important;
  }
}
