#site-header {
  background-color: var(--w3c-blue);
  color: #fff;
  & a {
    color: #fff;
  }
}

.wai {
  font-size: 1.5625rem;
  line-height: 1.2;
  display: block;
}
.logos {
  padding: 16px 0;
}
.navigations {
  position: relative;
  grid-column: 2/4;
  display: grid;
  grid-template-rows: min-content min-content;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-style: none solid;
}
.mainnav, .metanav, #controls {
  & ul {
    margin: 0;
    padding: 0;
    & li {
      display: inline-block;
      list-style: none;
    }
  }
}
#controls {
  background-color: var(--off-white);
  text-align: right;
  font-size: .8125em;
  & ul {
    padding: 8px 16px;
    grid-column: 1/4;
  }
  & a {
    color: var(--w3c-blue);
    margin-left: 16px;
    text-decoration: none;
    &:hover, &:focus {
      border-bottom: none;
      text-decoration: underline;
    }
    & svg {
      width: .8em;
      height: .8em;
    }
  }
}

.metanav, .mainnav {
}

.metanav {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & a {
    text-decoration: none;
    &:hover, &:focus, &[aria-current="page"] {
      border-bottom: 2px solid var(--gold);
    }
  }
  & ul {
    margin-right: 16px;
    & li {
      margin-left: 32px;
      &:first-child {
        margin-left: 0
      }
    }
  }
  & form[role=search] {
    & label {
      background-color: rgba(6, 30, 54, 0.44);
      display:block;
      text-transform: none;
      font-weight: normal;
      & .l {
        padding: 8px 0 8px 12px;
      }
    }
    & input {
      -webkit-appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: var(--pure-white);
      /* border-bottom: 1px solid var(--pure-white);*/
      height: 100%;
      display:inline-block;
      padding: 0;
      margin: 0;
    }
    & button {
      display:inline-block;
      margin: 0;
    }
    & ::-webkit-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-moz-placeholder { /* Firefox 18- */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }

    & :-ms-input-placeholder {
       color: var(--pure-white);
       font-style: italic;
       opacity: 1;
    }
  }
}

.mainnav {
  display: flex;
  align-items: flex-end;
  padding: 0 16px;
  & > ul {
    width: 100%;
    display: flex;
    & > li {
      flex:1;
      & > a {
        text-decoration: none;
        &:hover, &:focus, &[aria-current="page"] {
          & span {
            border-bottom: 2px solid var(--gold);
          }
        }
      }
    }
    & a {
      display:block;
      width: 100%;
      padding: 16px 8px;
    }
  }
}

.mainsub {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 100%;
  left:16px;
  right: 16px;
  & b {
    display: block;
  }
  &>ul {
    background-color: var(--w3c-blue);
    padding: 4px 8px;
    list-style: none;
    margin: 0;
    display:none;
    columns: 2;
    font-size: .875rem;
    & ul {
      padding:0 0 0 16px;
      margin-bottom: 16px;
      list-style: none;
      border-left: 2px solid #344D72; /* TODO: DEFINE COLOR*/
      & a {
        color: var(--off-white) !important;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
      & > li {
        padding-bottom: 8px;
      }
    }
    & > li {
      page-break-inside: avoid;
    }
    &.active {
      display: block;
    }
    &:nth-child(1) {
      grid-column: 1/4;
    }
    &:nth-child(2) {
      grid-column: 2/5;
    }
    &:nth-child(3) {
      grid-column: 1/4;
    }
    &:nth-child(4) {
      grid-column: 2/5;
    }
  }
}
