<nav class="sidenav-languages" aria-labelledby="languagehead">
  <header id="languagehead">Languages/Translations</header>
  <ul class="langlist">
    <li><a href="/wai-video-standards-and-benefits/videos/standards-and-benefits/" lang="en">English (original)</a></li>
    <li><a style="text-transform: capitalize;" href="/videos/standards-and-benefits/ar" lang="ar" dir="auto" translate="no">العربية</a></li>
    <li><strong style="text-transform: capitalize;">Ελληνικά</strong></li>
    <li><a style="text-transform: capitalize;" href="/wai-video-standards-and-benefits/videos/standards-and-benefits/es" lang="es">español</a></li>
    <li><a style="text-transform: capitalize;" href="/wai-video-standards-and-benefits/videos/standards-and-benefits/fr" lang="fr">français</a></li>
    <li><a style="text-transform: capitalize;" href="/wai-video-standards-and-benefits/videos/standards-and-benefits/nl" lang="nl">Nederlands</a></li>
    <li><a style="text-transform: capitalize;" href="/wai-video-standards-and-benefits/videos/standards-and-benefits/zh-hans" lang="zh-hans">简体汉语</a></li></ul><p style="padding: 4px 0 4px 27px;margin:0;border-top: 1px solid #eed009;"><a href="/wai-video-standards-and-benefits/translations/#el">Άλλοι πόροι στη γλώσσα Ελληνικά</a></p>
  <p><a href="/wai-video-standards-and-benefits/translations/">Όλες οι Μεταφράσεις</a></p>
  <p><a href="#">Μετάφραση πόρων WAI</a></p>
</nav>