.sidenav {
  grid-area: navigation;
  margin-block-end: 24px;
  display: none;
  &.open {
    display: block;
    margin-block-start: 16px;
  }
  @media (--large) {
    display: block;
  }
  @media print {
    display: none;
  }
}

.sidenav--head {
  background-color: var(--w3c-blue);
  border: 2px solid var(--w3c-blue);
  border-width: 0 5px;
  padding: 16px 24px;
  display:flex;
  align-items: flex-end;
  border-block-end: none;
  font-weight: bold;
}

.sidenav--head-icon {
  padding-block-end: .3em;
  margin-inline-start: -16px;
}

.sidenav--head-icon--inner {
  width: 47px;
  height: 48px;
  float: inline-start;
  margin-inline-end: 8px;
}

.sidenav--head-section {
  color: var(--pure-white);
  text-transform: uppercase;
  letter-spacing: .7px;
  font-size: .6875rem;
  font-weight: bold;
}

.sidenav--head-subsection {
  color: var(--pure-white);
  font-size: 1.375rem;
}

.sidenav--list {
  background-color: var(--w3c-blue);
  border: 2px solid var(--w3c-blue);
  border-block-end-width: 5px;
  border-block-start-width: 0;
  border-inline-start-width: 5px;
  border-inline-end-width: 0;
  margin: 0;
  padding:0;
  font-size: .8125rem;
  & a {
    display: flex;
    box-sizing: border-box;
    padding-block: 8px;
    padding-inline: 24px;
    min-height: 44px;
    color: var(--pure-white);
    text-decoration: none;
    align-items: center;
    &:--hovcus {
      text-decoration: underline;
      background-color: var(--off-white);
      color: var(--wai-green);
    }
    &:focus {
      outline-color: var(--gold);
    }
    & span.lang {
      font-weight: normal;
    }
  }
  & li a {
    border-block-start: 1px solid var(--w3c-classic);
  }
  .sidenav-head + & {
    border-block-start: none;
  }
  & ul {
    padding: 0;
    margin: 0;
    padding-inline-start: 24px;
  }
  & a + ul { display:none; }
  & a[aria-current] + ul { display:block; }
  & li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  & ul li:first-child a {
    border-top-color:transparent;
  }
  & a[aria-current] {
    /*color: var(--w3c-blue);
    background-color: var(--body-bg);*/
  }
  & a[aria-current=location] {
     padding-block-end: 4px;
     font-weight: bold;
  }
  & a[aria-current=page] {
    font-weight: bold;
    color: var(--wai-green);
    background-color: var(--body-bg);
    position:relative;
    &:before, &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: auto;
      right: 0;
      &:dir(rtl) {
        left: 0;
        right: auto;
      }
      border: 1px solid var(--pure-white);
      opacity: .9;
    }
    &:before {
      top:-2px;
      border-color: transparent var(--pure-white) var(--pure-white) transparent;
    }
    &:dir(rtl):before {
      border-color: transparent transparent var(--pure-white) var(--pure-white);
    }
    &:after {
      bottom:-2px;
      border-color: var(--pure-white) var(--pure-white) transparent transparent;
    }
    &:dir(rtl):after {
      border-color: var(--pure-white) transparent transparent var(--pure-white);
    }
  }
}

.sidenav-languages {
  font-size: .8125rem;
  margin-block-start: 2rem;
  border-radius: 3px;
  border: 2px solid var(--gold);
  background-color: var(--pure-white);
  & header {
    border-block-end: 2px solid var(--gold);
    padding-block: 8px;
    padding-inline: 27px;
    font-weight: bold;
  }
  & .langlist {
    padding-inline-start: 27px;
    list-style-position: inside;
    list-style-type: square;
    color: var(--w3c-classic);
    & li {
      margin-block-end: 2px;
    }
  }
  & p {
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 27px;
    padding-inline-end: 0;
    margin:0;
    border-block-start: 1px solid #eed009;
  }
}
